5-20-5 Google Chatbot Sonoff_b1 AWS Node red/node-red program.txt
[{"id":"fa7a819c.2031a","type":"mqtt in","z":"e0938457.9ab678","name":"","topic":"outCandleAWS","qos":"0","datatype":"auto","broker":"a97d76ef.aa80b8","x":120,"y":80,"wires":[["14ada532.7745db","a286bae9.cd45d8"]]},{"id":"45eed4d6.2649fc","type":"mqtt out","z":"e0938457.9ab678","name":"","topic":"inCandleAWS","qos":"0","retain":"","broker":"a97d76ef.aa80b8","x":880,"y":220,"wires":[]},{"id":"8d2b44cd.e85a38","type":"function","z":"e0938457.9ab678","name":"","func":"newMsg = {};\nvar red=parseInt(\"0x\"+msg.payload.substring(0,2));\nvar green=parseInt(\"0x\"+msg.payload.substring(2,4));\nvar blue=parseInt(\"0x\"+msg.payload.substring(4,6));\nglobal.set(\"red\",red);\nglobal.set(\"green\",green);\nglobal.set(\"blue\",blue);\nnewMsg.payload = red;\nreturn newMsg;","outputs":1,"noerr":0,"x":250,"y":280,"wires":[["2568b4d0.216d3c"]]},{"id":"806d60b7.3e381","type":"ui_colour_picker","z":"e0938457.9ab678","name":"","label":"","group":"8f959920.701cd8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":3,"width":0,"height":0,"passthru":true,"topic":"","x":110,"y":280,"wires":[["8d2b44cd.e85a38"]]},{"id":"7f77f8a.9a1d308","type":"ui_slider","z":"e0938457.9ab678","name":"","label":"밝기","tooltip":"","group":"8f959920.701cd8","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":90,"y":220,"wires":[["77dc4320.e26b1c"]]},{"id":"77dc4320.e26b1c","type":"function","z":"e0938457.9ab678","name":"","func":"global.set(\"bright\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":220,"wires":[["2568b4d0.216d3c"]]},{"id":"2568b4d0.216d3c","type":"function","z":"e0938457.9ab678","name":"","func":"var bright=global.get(\"bright\")||0;\nvar red=global.get(\"red\")||0;\nvar green=global.get(\"green\")||0;\nvar blue=global.get(\"blue\")||0;\nmsg.payload={chip:\"9d3507\",Bright:bright,R:red,G:green,B:blue};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["45eed4d6.2649fc","4b0de297.bb868c"]]},{"id":"e477aee5.c897c","type":"ui_button","z":"e0938457.9ab678","name":"","group":"8f959920.701cd8","order":1,"width":0,"height":0,"passthru":false,"label":"흰색","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":340,"wires":[["44d62a39.7c0474"]]},{"id":"44d62a39.7c0474","type":"function","z":"e0938457.9ab678","name":"","func":"global.set(\"red\",255);\nglobal.set(\"green\",255);\nglobal.set(\"blue\",255);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":340,"wires":[["2568b4d0.216d3c"]]},{"id":"14ada532.7745db","type":"json","z":"e0938457.9ab678","name":"","property":"payload","action":"","pretty":false,"x":292,"y":80,"wires":[["15032ad3.4b2f85"]]},{"id":"15032ad3.4b2f85","type":"function","z":"e0938457.9ab678","name":"","func":"if(msg.payload.bright!=null) {\n    msg.payload.bright=parseInt(msg.payload.bright*2.55);\n    global.set(\"bright\",msg.payload.bright);\n}\nif(msg.payload.red!=null) {\n    msg.payload.red=parseInt(msg.payload.red*2.55);\n    global.set(\"red\",msg.payload.red);\n}\nif(msg.payload.green!=null) {\n    msg.payload.green=parseInt(msg.payload.green*2.55);\n    global.set(\"green\",msg.payload.green);\n}\nif(msg.payload.blue!=null) {\n    msg.payload.blue=parseInt(msg.payload.blue*2.55);\n    global.set(\"blue\",msg.payload.blue);\n}\nif(msg.payload.white!=null) {\n    msg.payload.bright=parseInt(msg.payload.white*2.55);\n    global.set(\"bright\",msg.payload.bright);\n    global.set(\"red\",255);\n    global.set(\"green\",255);\n    global.set(\"blue\",255);\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["2568b4d0.216d3c"]]},{"id":"50f8df49.ec4a3","type":"comment","z":"e0938457.9ab678","name":"","info":"sonof b1 9d3507\nX-Ring b66de8","x":660,"y":400,"wires":[]},{"id":"4b0de297.bb868c","type":"function","z":"e0938457.9ab678","name":"","func":"var bright=global.get(\"bright\")||0;\nvar red=global.get(\"red\")||0;\nvar green=global.get(\"green\")||0;\nvar blue=global.get(\"blue\")||0;\nmsg.payload={\"chip\":\"b66de8\",\"Bright\":bright,\"R\":red,\"G\":green,\"B\":blue};\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["6f3a951c.4bdc7c"]]},{"id":"6f3a951c.4bdc7c","type":"delay","z":"e0938457.9ab678","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":300,"wires":[["45eed4d6.2649fc"]]},{"id":"a385e82d.2d6e58","type":"ui_button","z":"e0938457.9ab678","name":"","group":"8f959920.701cd8","order":4,"width":0,"height":0,"passthru":false,"label":"끄기","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":400,"wires":[["ab53534f.827fe"]]},{"id":"ab53534f.827fe","type":"function","z":"e0938457.9ab678","name":"","func":"global.set(\"bright\",msg.payload);\nglobal.set(\"red\",0);\nglobal.set(\"green\",0);\nglobal.set(\"blue\",0);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":400,"wires":[["2568b4d0.216d3c"]]},{"id":"a286bae9.cd45d8","type":"debug","z":"e0938457.9ab678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":40,"wires":[]},{"id":"a97d76ef.aa80b8","type":"mqtt-broker","z":"","name":"","broker":"a2e3lvmkmo084b-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"cf96e6e7.8df1c8","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8f959920.701cd8","type":"ui_group","name":"Group 1","tab":"f8ef04c1.eadea8","order":1,"disp":true,"width":6},{"id":"cf96e6e7.8df1c8","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"5fe37e4ccb-certificate.pem.crt","keyname":"5fe37e4ccb-private.pem.key","caname":"mqttTestCA01.pem","servername":"","verifyservercert":true},{"id":"f8ef04c1.eadea8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]