100 custom node 만들기/node red.txt
[{"id":"275107b5.84aac8","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"a84fca47.03e678","type":"inject","z":"275107b5.84aac8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["7451f229.f1fbec"]]},{"id":"b0992e2d.3d26e","type":"debug","z":"275107b5.84aac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":60,"wires":[]},{"id":"7451f229.f1fbec","type":"io-d1mini-node","z":"275107b5.84aac8","name":"kdi","ref":"/data","x":270,"y":60,"wires":[["b0992e2d.3d26e"]]}]