5-10 HTTP recipes(1).txt
[{"id":"3abaf46b.52b94c","type":"tab","label":"http 통신","disabled":false,"info":""},{"id":"b7e18bfb.4a4d38","type":"http response","z":"3abaf46b.52b94c","name":"","x":510,"y":154,"wires":[]},{"id":"27fd2156.24335e","type":"template","z":"3abaf46b.52b94c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n    </body>\n</html>","x":370,"y":154,"wires":[["b7e18bfb.4a4d38"]]},{"id":"7979e3d3.50890c","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/hello-param/:name","method":"get","upload":false,"swaggerDoc":"","x":170,"y":154,"wires":[["27fd2156.24335e"]]},{"id":"647d3e76.8f2a1","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/hello-headers","method":"get","upload":false,"swaggerDoc":"","x":150,"y":203,"wires":[["87396934.f43aa8"]]},{"id":"87396934.f43aa8","type":"template","z":"3abaf46b.52b94c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>User agent: {{req.headers.user-agent}}</h1>\n    </body>\n</html>","x":329,"y":203,"wires":[["88a0d2d8.41475"]]},{"id":"88a0d2d8.41475","type":"http response","z":"3abaf46b.52b94c","name":"","x":469,"y":203,"wires":[]},{"id":"8206ab1b.bc2778","type":"inject","z":"3abaf46b.52b94c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":146,"y":285,"wires":[["8c44a50e.396eb8"]]},{"id":"8c44a50e.396eb8","type":"change","z":"3abaf46b.52b94c","name":"Store time","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":316,"y":285,"wires":[[]]},{"id":"1b55162b.12e95a","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/hello-data","method":"get","swaggerDoc":"","x":140.99998474121094,"y":336.99999618530273,"wires":[["df273690.8e7538"]]},{"id":"df273690.8e7538","type":"change","z":"3abaf46b.52b94c","name":"Copy time","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"timestamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":330.99998474121094,"y":336.99999618530273,"wires":[["e1f0184b.22c5d8"]]},{"id":"e1f0184b.22c5d8","type":"template","z":"3abaf46b.52b94c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Time: {{ timestamp }}</h1>\n    </body>\n</html>","x":490.99998474121094,"y":336.99999618530273,"wires":[["e22748d7.cccde8"]]},{"id":"e22748d7.cccde8","type":"http response","z":"3abaf46b.52b94c","name":"","x":630.9999847412109,"y":336.99999618530273,"wires":[]},{"id":"da770d73.e889","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/hello-json","method":"get","swaggerDoc":"","x":138,"y":460,"wires":[["23fcac38.35ee64"]]},{"id":"23fcac38.35ee64","type":"template","z":"3abaf46b.52b94c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":308,"y":460,"wires":[["f2e9fee.3b562"]]},{"id":"f2e9fee.3b562","type":"change","z":"3abaf46b.52b94c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":460,"wires":[["e783ed96.bc0c5"]]},{"id":"e783ed96.bc0c5","type":"http response","z":"3abaf46b.52b94c","name":"","x":628,"y":460,"wires":[]},{"id":"8b8af4c6.c45aa8","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/hello","method":"get","swaggerDoc":"","x":120,"y":74,"wires":[["325956bd.6e9a3a"]]},{"id":"325956bd.6e9a3a","type":"template","z":"3abaf46b.52b94c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head> </head>\n    <body>\n        <h1>안녕하세요</h1>\n    </body>\n</html>","x":270,"y":74,"wires":[["e16538b1.8c2718"]]},{"id":"e16538b1.8c2718","type":"http response","z":"3abaf46b.52b94c","name":"","x":410,"y":74,"wires":[]},{"id":"d74b5bd.83ef6a8","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/hello-file","method":"get","upload":false,"swaggerDoc":"","x":128.0000228881836,"y":505.00005054473877,"wires":[["e388981f.4f3d98"]]},{"id":"e388981f.4f3d98","type":"file in","z":"3abaf46b.52b94c","name":"","filename":"/temp/node-red.png","format":"","sendError":true,"x":308.0000228881836,"y":505.00005054473877,"wires":[["3713e1b4.a862be"]]},{"id":"3713e1b4.a862be","type":"change","z":"3abaf46b.52b94c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":488.0000228881836,"y":505.00005054473877,"wires":[["8a0fccbd.9faed"]]},{"id":"8a0fccbd.9faed","type":"http response","z":"3abaf46b.52b94c","name":"","x":628.0000228881836,"y":505.00005054473877,"wires":[]},{"id":"ede886a1.fc0178","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/hello-form","method":"post","upload":false,"swaggerDoc":"","x":140,"y":757,"wires":[["4e3f7654.61df88"]]},{"id":"4e3f7654.61df88","type":"template","z":"3abaf46b.52b94c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>","x":310,"y":757,"wires":[["4133b7c6.86f9d8"]]},{"id":"4133b7c6.86f9d8","type":"http response","z":"3abaf46b.52b94c","name":"","x":450,"y":757,"wires":[]},{"id":"ddbc69a5.83a2d8","type":"template","z":"3abaf46b.52b94c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>","x":310,"y":114,"wires":[["60617a10.069ec4"]]},{"id":"ba6ea04e.07f21","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/hello-query","method":"get","swaggerDoc":"","x":140,"y":114,"wires":[["ddbc69a5.83a2d8"]]},{"id":"60617a10.069ec4","type":"http response","z":"3abaf46b.52b94c","name":"","x":450,"y":114,"wires":[]},{"id":"466fff39.7a20c","type":"http request","z":"3abaf46b.52b94c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":496,"y":385,"wires":[["47183385.624a9c"]]},{"id":"c914a9de.6b6b48","type":"inject","z":"3abaf46b.52b94c","name":"cars on craigslist","topic":"","payload":"http://vancouver.craigslist.org/search/sss?format=rss&query=cars","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":166,"y":385,"wires":[["4c586986.fa9968"]]},{"id":"4c586986.fa9968","type":"change","z":"3abaf46b.52b94c","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":336,"y":385,"wires":[["466fff39.7a20c"]]},{"id":"47183385.624a9c","type":"debug","z":"3abaf46b.52b94c","name":"","active":true,"console":"false","complete":"false","x":656,"y":385,"wires":[]},{"id":"4938bc85.a88da4","type":"template","z":"3abaf46b.52b94c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello Kim","output":"str","x":280,"y":620,"wires":[["a22a0d58.72e0a"]]},{"id":"a22a0d58.72e0a","type":"http request","z":"3abaf46b.52b94c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"117.16.177.40:1880/hello-raw","tls":"","proxy":"","authType":"","x":430,"y":620,"wires":[["9743bcf9.0bad4","34d0551c.9cedca"]]},{"id":"9743bcf9.0bad4","type":"debug","z":"3abaf46b.52b94c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":593.0000228881836,"y":620.0000505447388,"wires":[]},{"id":"bb9fed1e.30ec6","type":"inject","z":"3abaf46b.52b94c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":143.0000228881836,"y":619.0000505447388,"wires":[["4938bc85.a88da4"]]},{"id":"ca756dcd.87df6","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/hello-form","method":"get","upload":false,"swaggerDoc":"","x":140,"y":797,"wires":[["6b327c36.4655c4"]]},{"id":"6b327c36.4655c4","type":"template","z":"3abaf46b.52b94c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>","x":310,"y":797,"wires":[["d62cf0ef.01366"]]},{"id":"d62cf0ef.01366","type":"http response","z":"3abaf46b.52b94c","name":"","x":450,"y":797,"wires":[]},{"id":"75666191.7c018","type":"comment","z":"3abaf46b.52b94c","name":"http 통신 : https://cookbook.nodered.org","info":"","x":210,"y":27,"wires":[]},{"id":"35a37f2e.9ddc5","type":"comment","z":"3abaf46b.52b94c","name":"post 통신","info":"","x":120,"y":574,"wires":[]},{"id":"8c9ba999.3092e8","type":"comment","z":"3abaf46b.52b94c","name":"post 와 get 의 차이점","info":"http://117.16.177.40:1880/hello-form-get\nhttp://117.16.177.40:1880/hello-form-post\n 위를 실행하면 get과 post의 처리를 볼 수 있다.","x":161,"y":716,"wires":[]},{"id":"34d0551c.9cedca","type":"file","z":"3abaf46b.52b94c","name":"","filename":"g:/Ahome/test.html","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":619.0000228881836,"y":673.0000505447388,"wires":[[]]},{"id":"e0f288b1.915da8","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/hello-form-get","method":"get","upload":false,"swaggerDoc":"","x":150,"y":853,"wires":[["63d53170.8b38a"]]},{"id":"63d53170.8b38a","type":"template","z":"3abaf46b.52b94c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <form action=\"http://117.16.177.40:1880/hello-form\" method=\"get\">\n          <input name=\"name\" value=\"Get\">\n          <button>Say hello</button>\n        </form>\n    </body>\n</html>\n","x":310,"y":853,"wires":[["76fce5ec.3f3e8c"]]},{"id":"76fce5ec.3f3e8c","type":"http response","z":"3abaf46b.52b94c","name":"","x":450,"y":853,"wires":[]},{"id":"4533daa0.eed574","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/hello-form-post","method":"get","upload":false,"swaggerDoc":"","x":150,"y":893,"wires":[["e55e6bad.3d3bb8"]]},{"id":"e55e6bad.3d3bb8","type":"template","z":"3abaf46b.52b94c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <form action=\"http://117.16.177.40:1880/hello-form\" method=\"post\">\n          <input name=\"name\" value=\"Post\">\n          <button>Say hello</button>\n        </form>\n    </body>\n</html>\n","x":312,"y":893,"wires":[["13772567.22119b"]]},{"id":"13772567.22119b","type":"http response","z":"3abaf46b.52b94c","name":"","x":452,"y":893,"wires":[]},{"id":"9d992ed7.c29ce","type":"comment","z":"3abaf46b.52b94c","name":"http://117.16.177.40:1880/hello-query?name=\"김동일\"","info":"","x":740,"y":115,"wires":[]},{"id":"85f80e16.a68dd","type":"comment","z":"3abaf46b.52b94c","name":"http://117.16.177.40:1880/hello-param/:김동일","info":"","x":750,"y":152,"wires":[]},{"id":"784e00c0.e60a2","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/hello1","method":"get","upload":false,"swaggerDoc":"","x":610,"y":80,"wires":[["94dc3818.f780e8"]]},{"id":"e0d45a3a.e37ff8","type":"http response","z":"3abaf46b.52b94c","name":"","statusCode":"","headers":{},"x":890,"y":80,"wires":[]},{"id":"94dc3818.f780e8","type":"function","z":"3abaf46b.52b94c","name":"","func":"msg.payload=\"안녕하세요 여러분\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":80,"wires":[["e0d45a3a.e37ff8"]]},{"id":"f2993c02.650ce","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/h","method":"get","upload":false,"swaggerDoc":"","x":949,"y":297,"wires":[["2fe65395.f7773c"]]},{"id":"35a433fc.5e9b1c","type":"http response","z":"3abaf46b.52b94c","name":"","statusCode":"","headers":{},"x":1243,"y":297,"wires":[]},{"id":"2fe65395.f7773c","type":"template","z":"3abaf46b.52b94c","name":"Home Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"김동일 This is the payload: {{payload.name}} !","output":"str","x":1099,"y":297,"wires":[["35a433fc.5e9b1c"]]},{"id":"91be37c7.dcac18","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/b","method":"get","upload":false,"swaggerDoc":"","x":949,"y":344,"wires":[["3c324be3.c3d854"]]},{"id":"5c0c1fba.6bb33","type":"http response","z":"3abaf46b.52b94c","name":"","statusCode":"","headers":{},"x":1243,"y":344,"wires":[]},{"id":"3c324be3.c3d854","type":"template","z":"3abaf46b.52b94c","name":"Button Link","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<button type=\"button\" onclick=\"location.href='http://54.244.168.99:1880/h' \">홈페이지로</button>","output":"str","x":1099,"y":344,"wires":[["5c0c1fba.6bb33"]]},{"id":"e028cc1e.738a8","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/s","method":"get","upload":false,"swaggerDoc":"","x":950,"y":400,"wires":[["51be4886.a5edc8"]]},{"id":"f36d5b0b.e61ee8","type":"http response","z":"3abaf46b.52b94c","name":"","statusCode":"","headers":{},"x":1257,"y":400,"wires":[]},{"id":"51be4886.a5edc8","type":"template","z":"3abaf46b.52b94c","name":"Button Submin","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<form action=\"/hello-query\" method=\"get\" id=\"form1\">\n  name: <input type=\"text\" name=\"name\"><br>\n</form>\n<button type=\"submit\" form=\"form1\" value=\"Submit\">Submit</button>","output":"str","x":1110,"y":400,"wires":[["f36d5b0b.e61ee8"]]},{"id":"18d1988b.b331d7","type":"http in","z":"3abaf46b.52b94c","name":"","url":"/f","method":"get","upload":false,"swaggerDoc":"","x":950,"y":460,"wires":[["d3daf269.0357c"]]},{"id":"ff60805c.a6a8d","type":"http response","z":"3abaf46b.52b94c","name":"","statusCode":"","headers":{},"x":1279,"y":460,"wires":[]},{"id":"d3daf269.0357c","type":"template","z":"3abaf46b.52b94c","name":"Button Formaction","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<form><button type=\"submit\" formaction=\"/hello-query\" name=\"name\" value=\"김동일\">Submit to another page</button></form>","output":"str","x":1120,"y":460,"wires":[["ff60805c.a6a8d"]]}]