5-10 HTTP recipes(1).txt
[{"id":"4d2235b5.b3f02c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"68678177.5d2f6","type":"http response","z":"4d2235b5.b3f02c","name":"","x":510,"y":154,"wires":[]},{"id":"1d35b409.c9512c","type":"template","z":"4d2235b5.b3f02c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n    </body>\n</html>","x":370,"y":154,"wires":[["68678177.5d2f6"]]},{"id":"d13b0549.00da28","type":"http in","z":"4d2235b5.b3f02c","name":"","url":"/hello-param/:name","method":"get","upload":false,"swaggerDoc":"","x":170,"y":154,"wires":[["1d35b409.c9512c"]]},{"id":"b529e2f2.99412","type":"http in","z":"4d2235b5.b3f02c","name":"","url":"/hello-headers","method":"get","upload":false,"swaggerDoc":"","x":150,"y":203,"wires":[["df037176.44466"]]},{"id":"df037176.44466","type":"template","z":"4d2235b5.b3f02c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>User agent: {{req.headers.user-agent}}</h1>\n    </body>\n</html>","x":329,"y":203,"wires":[["4502705f.0cab8"]]},{"id":"4502705f.0cab8","type":"http response","z":"4d2235b5.b3f02c","name":"","x":469,"y":203,"wires":[]},{"id":"b9babe47.be2a3","type":"inject","z":"4d2235b5.b3f02c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":146,"y":285,"wires":[["559615b3.ccc26c"]]},{"id":"559615b3.ccc26c","type":"change","z":"4d2235b5.b3f02c","name":"Store time","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":316,"y":285,"wires":[[]]},{"id":"b70304b2.9d9f88","type":"http in","z":"4d2235b5.b3f02c","name":"","url":"/hello-data","method":"get","swaggerDoc":"","x":140.99998474121094,"y":336.99999618530273,"wires":[["dee0a479.0ca788"]]},{"id":"dee0a479.0ca788","type":"change","z":"4d2235b5.b3f02c","name":"Copy time","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"timestamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":330.99998474121094,"y":336.99999618530273,"wires":[["1bf756e5.0d8e79"]]},{"id":"1bf756e5.0d8e79","type":"template","z":"4d2235b5.b3f02c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Time: {{ timestamp }}</h1>\n    </body>\n</html>","x":490.99998474121094,"y":336.99999618530273,"wires":[["e6507846.a98028"]]},{"id":"e6507846.a98028","type":"http response","z":"4d2235b5.b3f02c","name":"","x":630.9999847412109,"y":336.99999618530273,"wires":[]},{"id":"110127da.3bedf8","type":"http in","z":"4d2235b5.b3f02c","name":"","url":"/hello-json","method":"get","swaggerDoc":"","x":138,"y":460,"wires":[["1237d3cb.bbb81c"]]},{"id":"1237d3cb.bbb81c","type":"template","z":"4d2235b5.b3f02c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":308,"y":460,"wires":[["43626c81.65cfa4"]]},{"id":"43626c81.65cfa4","type":"change","z":"4d2235b5.b3f02c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":460,"wires":[["1512c889.79ac27"]]},{"id":"1512c889.79ac27","type":"http response","z":"4d2235b5.b3f02c","name":"","x":628,"y":460,"wires":[]},{"id":"546be284.71ddfc","type":"http in","z":"4d2235b5.b3f02c","name":"","url":"/hello","method":"get","swaggerDoc":"","x":120,"y":74,"wires":[["56fb711a.89712"]]},{"id":"56fb711a.89712","type":"template","z":"4d2235b5.b3f02c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head> </head>\n    <body>\n        <h1>안녕하세요</h1>\n    </body>\n</html>","x":270,"y":74,"wires":[["d6919fa8.2b893"]]},{"id":"d6919fa8.2b893","type":"http response","z":"4d2235b5.b3f02c","name":"","x":410,"y":74,"wires":[]},{"id":"b8517c09.2b3ca","type":"http in","z":"4d2235b5.b3f02c","name":"","url":"/hello-file","method":"get","upload":false,"swaggerDoc":"","x":128.0000228881836,"y":505.00005054473877,"wires":[["29538996.d168e6"]]},{"id":"29538996.d168e6","type":"file in","z":"4d2235b5.b3f02c","name":"","filename":"/temp/node-red.png","format":"","sendError":true,"x":308.0000228881836,"y":505.00005054473877,"wires":[["d6ac508f.872ee"]]},{"id":"d6ac508f.872ee","type":"change","z":"4d2235b5.b3f02c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":488.0000228881836,"y":505.00005054473877,"wires":[["5787eb51.991314"]]},{"id":"5787eb51.991314","type":"http response","z":"4d2235b5.b3f02c","name":"","x":628.0000228881836,"y":505.00005054473877,"wires":[]},{"id":"fe8edbd.04f2328","type":"http in","z":"4d2235b5.b3f02c","name":"","url":"/hello-form","method":"post","upload":false,"swaggerDoc":"","x":140,"y":757,"wires":[["e33aff37.f779f"]]},{"id":"e33aff37.f779f","type":"template","z":"4d2235b5.b3f02c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>","x":310,"y":757,"wires":[["c11b3a5b.d1a1c8"]]},{"id":"c11b3a5b.d1a1c8","type":"http response","z":"4d2235b5.b3f02c","name":"","x":450,"y":757,"wires":[]},{"id":"65a74acf.6b9a24","type":"template","z":"4d2235b5.b3f02c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>","x":310,"y":114,"wires":[["5ece4520.1d3dfc"]]},{"id":"b4d76165.a232c","type":"http in","z":"4d2235b5.b3f02c","name":"","url":"/hello-query","method":"get","swaggerDoc":"","x":140,"y":114,"wires":[["65a74acf.6b9a24"]]},{"id":"5ece4520.1d3dfc","type":"http response","z":"4d2235b5.b3f02c","name":"","x":450,"y":114,"wires":[]},{"id":"2f95eac8.695cc6","type":"http request","z":"4d2235b5.b3f02c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":496,"y":385,"wires":[["b33c3fe8.84797"]]},{"id":"fa669e5c.4e0fb","type":"inject","z":"4d2235b5.b3f02c","name":"cars on craigslist","topic":"","payload":"http://vancouver.craigslist.org/search/sss?format=rss&query=cars","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":166,"y":385,"wires":[["bd4158d1.a74bb8"]]},{"id":"bd4158d1.a74bb8","type":"change","z":"4d2235b5.b3f02c","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":336,"y":385,"wires":[["2f95eac8.695cc6"]]},{"id":"b33c3fe8.84797","type":"debug","z":"4d2235b5.b3f02c","name":"","active":true,"console":"false","complete":"false","x":656,"y":385,"wires":[]},{"id":"dcf9f574.dbf9e8","type":"template","z":"4d2235b5.b3f02c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello Kim","output":"str","x":280,"y":620,"wires":[["1db67c7d.f1c424"]]},{"id":"1db67c7d.f1c424","type":"http request","z":"4d2235b5.b3f02c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"117.16.177.40:1880/hello-raw","tls":"","proxy":"","authType":"","x":430,"y":620,"wires":[["607e3b30.581f64","cba9e53d.b4fc48"]]},{"id":"607e3b30.581f64","type":"debug","z":"4d2235b5.b3f02c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":593.0000228881836,"y":620.0000505447388,"wires":[]},{"id":"afcd099d.e65928","type":"inject","z":"4d2235b5.b3f02c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":143.0000228881836,"y":619.0000505447388,"wires":[["dcf9f574.dbf9e8"]]},{"id":"a413dfbf.ff3e9","type":"http in","z":"4d2235b5.b3f02c","name":"","url":"/hello-form","method":"get","upload":false,"swaggerDoc":"","x":140,"y":797,"wires":[["2aa11f75.5c216"]]},{"id":"2aa11f75.5c216","type":"template","z":"4d2235b5.b3f02c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>","x":310,"y":797,"wires":[["91864a3e.d814f8"]]},{"id":"91864a3e.d814f8","type":"http response","z":"4d2235b5.b3f02c","name":"","x":450,"y":797,"wires":[]},{"id":"c6e7daaa.f5d728","type":"comment","z":"4d2235b5.b3f02c","name":"http 통신 : https://cookbook.nodered.org","info":"","x":210,"y":27,"wires":[]},{"id":"d06fc566.0fccd8","type":"comment","z":"4d2235b5.b3f02c","name":"post 통신","info":"","x":120,"y":574,"wires":[]},{"id":"45c7f164.25763","type":"comment","z":"4d2235b5.b3f02c","name":"post 와 get 의 차이점","info":"http://117.16.177.40:1880/hello-form-get\nhttp://117.16.177.40:1880/hello-form-post\n 위를 실행하면 get과 post의 처리를 볼 수 있다.","x":161,"y":716,"wires":[]},{"id":"cba9e53d.b4fc48","type":"file","z":"4d2235b5.b3f02c","name":"","filename":"g:/Ahome/test.html","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":619.0000228881836,"y":673.0000505447388,"wires":[[]]},{"id":"10972e7e.508082","type":"http in","z":"4d2235b5.b3f02c","name":"","url":"/hello-form-get","method":"get","upload":false,"swaggerDoc":"","x":150,"y":853,"wires":[["76fe1223.62b09c"]]},{"id":"76fe1223.62b09c","type":"template","z":"4d2235b5.b3f02c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <form action=\"http://117.16.177.40:1880/hello-form\" method=\"get\">\n          <input name=\"name\" value=\"Get\">\n          <button>Say hello</button>\n        </form>\n    </body>\n</html>\n","x":310,"y":853,"wires":[["6d7b4c16.b70b74"]]},{"id":"6d7b4c16.b70b74","type":"http response","z":"4d2235b5.b3f02c","name":"","x":450,"y":853,"wires":[]},{"id":"8e20718a.cfc25","type":"http in","z":"4d2235b5.b3f02c","name":"","url":"/hello-form-post","method":"get","upload":false,"swaggerDoc":"","x":150,"y":893,"wires":[["4a1fa3a1.29454c"]]},{"id":"4a1fa3a1.29454c","type":"template","z":"4d2235b5.b3f02c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <form action=\"http://117.16.177.40:1880/hello-form\" method=\"post\">\n          <input name=\"name\" value=\"Post\">\n          <button>Say hello</button>\n        </form>\n    </body>\n</html>\n","x":312,"y":893,"wires":[["8d49ce93.5fb39"]]},{"id":"8d49ce93.5fb39","type":"http response","z":"4d2235b5.b3f02c","name":"","x":452,"y":893,"wires":[]},{"id":"dfb080cf.748e9","type":"comment","z":"4d2235b5.b3f02c","name":"http://117.16.177.40:1880/hello-query?name=\"김동일\"","info":"","x":740,"y":115,"wires":[]},{"id":"c52880f.5f83b8","type":"comment","z":"4d2235b5.b3f02c","name":"http://117.16.177.40:1880/hello-param/:김동일","info":"","x":750,"y":152,"wires":[]},{"id":"acac412e.19f4b","type":"http in","z":"4d2235b5.b3f02c","name":"","url":"/hello1","method":"get","upload":false,"swaggerDoc":"","x":610,"y":80,"wires":[["1cd752fa.62337d"]]},{"id":"93bbff99.f5565","type":"http response","z":"4d2235b5.b3f02c","name":"","statusCode":"","headers":{},"x":890,"y":80,"wires":[]},{"id":"1cd752fa.62337d","type":"function","z":"4d2235b5.b3f02c","name":"","func":"msg.payload=\"안녕하세요 여러분\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":80,"wires":[["93bbff99.f5565"]]}]