5-11 HTTP cookies.txt
[{"id":"abb83510.f1f0f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"daed9d19.5f36b","type":"http in","z":"abb83510.f1f0f8","name":"","url":"/hello-cookie","method":"get","upload":false,"swaggerDoc":"","x":141.01156616210938,"y":133.02777099609375,"wires":[["8a8e1a8b.57c388"]]},{"id":"8a8e1a8b.57c388","type":"function","z":"abb83510.f1f0f8","name":"Format cookies","func":"msg.payload = JSON.stringify(msg.req.cookies,null,4);\nreturn msg;","outputs":1,"noerr":0,"x":351.0115661621094,"y":133.02777099609375,"wires":[["5228f605.448a08"]]},{"id":"5228f605.448a08","type":"template","z":"abb83510.f1f0f8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Cookies</h1>\n        <p></p><a href=\"hello-cookie/add\">Add a cookie</a> &bull; <a href=\"hello-cookie/clear\">Clear cookies</a></p>\n        <pre>{{ payload }}</pre>\n    </body>\n</html>","x":541.0115661621094,"y":133.02777099609375,"wires":[["40c0dd31.8bfb14"]]},{"id":"40c0dd31.8bfb14","type":"http response","z":"abb83510.f1f0f8","name":"","x":772.0115661621094,"y":133.02777099609375,"wires":[]},{"id":"d81fe996.177798","type":"change","z":"abb83510.f1f0f8","name":"Redirect to /hello-cookie","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/hello-cookie","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":572.0115661621094,"y":193.02777099609375,"wires":[["40c0dd31.8bfb14"]]},{"id":"f2abacd4.f6fca","type":"function","z":"abb83510.f1f0f8","name":"Add a cookie","func":"msg.cookies = { };\nmsg.cookies[\"demo-\"+(Math.floor(Math.random()*1000))] = Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":352.0115661621094,"y":173.02777099609375,"wires":[["d81fe996.177798"]]},{"id":"f252b3b1.db747","type":"function","z":"abb83510.f1f0f8","name":"Clear cookies","func":"// Find demo cookies and clear them\nvar cookieNames = Object.keys(msg.req.cookies).filter(function(cookieName) { return /^demo-/.test(cookieName);});\nmsg.cookies = {};\n\ncookieNames.forEach(function(cookieName) {\n    msg.cookies[cookieName] = null;\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":362.0115661621094,"y":213.02777099609375,"wires":[["d81fe996.177798"]]},{"id":"d18c77a3.194488","type":"http in","z":"abb83510.f1f0f8","name":"","url":"/hello-cookie/add","method":"get","swaggerDoc":"","x":162.01156616210938,"y":173.02777099609375,"wires":[["f2abacd4.f6fca"]]},{"id":"30f4a227.23fb2e","type":"http in","z":"abb83510.f1f0f8","name":"","url":"/hello-cookie/clear","method":"get","upload":false,"swaggerDoc":"","x":162.01156616210938,"y":213.02777099609375,"wires":[["f252b3b1.db747"]]},{"id":"7c0240.44de2dc","type":"http in","z":"abb83510.f1f0f8","name":"","url":"/helloc","method":"get","upload":false,"swaggerDoc":"","x":131,"y":84,"wires":[["13bb74e5.e5f79b"]]},{"id":"ea4a5369.ba55e","type":"template","z":"abb83510.f1f0f8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>{{payload}}</h1>\n        <h1>{{cookies}}</h1>\n    </body>\n</html>","x":402.0115203857422,"y":86.02775478363037,"wires":[["8b8dcec3.ec479"]]},{"id":"8b8dcec3.ec479","type":"http response","z":"abb83510.f1f0f8","name":"","x":542.0115203857422,"y":86.02775478363037,"wires":[]},{"id":"13bb74e5.e5f79b","type":"function","z":"abb83510.f1f0f8","name":"","func":"msg.cookies = \"kdieee@gmail.com\";\n//msg.cookies[\"demo-\"+(Math.floor(Math.random()*1000))] = Date.now();\nmsg.payload=\"test\";\nreturn msg;","outputs":1,"noerr":0,"x":275.24770736694336,"y":84.11343288421631,"wires":[["ea4a5369.ba55e"]]},{"id":"77c51818.884c58","type":"comment","z":"abb83510.f1f0f8","name":"cookie : https://cookbook.nodered.org/http/work-with-cookies","info":"","x":280,"y":33,"wires":[]}]