5-13-3 HTTP 회원등록(4) Logout 비밀번호 변경.txt
[{"id":"1846d732.d00d29","type":"http in","z":"be92f87a.c53688","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":219,"y":148,"wires":[["17275bf.765eda4"]]},{"id":"45180d99.60f3b4","type":"http response","z":"be92f87a.c53688","name":"","statusCode":"","headers":{},"x":1033,"y":149,"wires":[]},{"id":"cf2833b4.0acb6","type":"comment","z":"be92f87a.c53688","name":"Log in","info":"","x":71,"y":148,"wires":[]},{"id":"e92cc8dc.84f888","type":"comment","z":"be92f87a.c53688","name":"회원가입","info":"","x":81,"y":350,"wires":[]},{"id":"ebdb5506.c28f88","type":"template","z":"be92f87a.c53688","name":"style","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"body {font-family: Arial, Helvetica, sans-serif;}\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\n  width: 100%;\n  padding: 12px 20px;\n  margin: 8px 0;\n  display: inline-block;\n  border: 1px solid #ccc;\n  box-sizing: border-box;\n}\n\n/* Set a style for all buttons */\nbutton {\n  background-color: #4CAF50;\n  color: white;\n  padding: 14px 20px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n}\n\n.button2 {background-color: #008CBA;} /* Blue */\n.button3 {background-color: #f44336;} /* Red */ \n.button4 {background-color: #e7e7e7; color: black;} /* Gray */ \n.button5 {background-color: #555555;} /* Black */\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n/* Extra styles for the cancel button */\n.cancelbtn {\n  width: auto;\n  padding: 10px 18px;\n  background-color: #f44336;\n}\n\n/* Center the image and position the close button */\n.imgcontainer {\n  text-align: center;\n  margin: 24px 0 12px 0;\n  position: relative;\n}\n\nimg.avatar {\n  width: 40%;\n  border-radius: 50%;\n}\n\n.container {\n  padding: 16px;\n}\n\nspan.psw {\n  float: right;\n  padding-top: 16px;\n}\n\n/* The Modal (background) */\n.modal {\n  display: none; /* Hidden by default */\n  position: fixed; /* Stay in place */\n  z-index: 1; /* Sit on top */\n  left: 0;\n  top: 0;\n  width: 100%; /* Full width */\n  height: 100%; /* Full height */\n  overflow: auto; /* Enable scroll if needed */\n  background-color: rgb(0,0,0); /* Fallback color */\n  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n  padding-top: 60px;\n}\n\n/* Modal Content/Box */\n.modal-content {\n  background-color: #fefefe;\n  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */\n  border: 1px solid #888;\n  width: 80%; /* Could be more or less, depending on screen size */\n}\n\n/* The Close Button (x) */\n.close {\n  position: absolute;\n  right: 25px;\n  top: 0;\n  color: #000;\n  font-size: 35px;\n  font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n  color: red;\n  cursor: pointer;\n}\n\n/* Add Zoom Animation */\n.animate {\n  -webkit-animation: animatezoom 0.6s;\n  animation: animatezoom 0.6s\n}\n\n@-webkit-keyframes animatezoom {\n  from {-webkit-transform: scale(0)} \n  to {-webkit-transform: scale(1)}\n}\n  \n@keyframes animatezoom {\n  from {transform: scale(0)} \n  to {transform: scale(1)}\n}\n\n/* Change styles for span and cancel button on extra small screens */\n@media screen and (max-width: 300px) {\n  span.psw {\n     display: block;\n     float: none;\n  }\n  .cancelbtn {\n     width: 100%;\n  }\n}","x":477,"y":148,"wires":[["49bc231.212a7dc"]]},{"id":"17275bf.765eda4","type":"template","z":"be92f87a.c53688","name":"script","field":"payload.script","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"// Get the modal\nvar modal = document.getElementById('id01');\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    if (event.target == modal) {\n        modal.style.display = \"none\";\n    }\n}","output":"str","x":352,"y":148,"wires":[["ebdb5506.c28f88"]]},{"id":"2f36fd8c.1019c2","type":"template","z":"be92f87a.c53688","name":"modal","field":"payload.modal","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<button onclick=\"document.getElementById('id01').style.display='block'\" style=\"width:auto;\">Login</button>\n<button onclick=\"document.getElementById('id02').style.display='block'\" style=\"width:auto;\">회원가입</button>\n\n<div id=\"id01\" class=\"modal\">\n  \n  <form class=\"modal-content animate\" action=\"/login_act\" method=\"get\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id01').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n      <img src=\"http://c.doowon.ac.kr/image/i2r_big.png\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n\n    <div class=\"container\">\n      <label for=\"email\"><b>email</b></label>\n      <input type=\"text\" placeholder=\"Enter Username\" name=\"email\" required>\n      <label for=\"pw\"><b>Password</b></label>\n      <input type=\"password\" placeholder=\"Enter Password\" name=\"pw\" required>\n      <button type=\"submit\" >Login</button>\n    </div>\n\n    <div class=\"container\" style=\"background-color:#f1f1f1\">\n      <button type=\"button\" onclick=\"document.getElementById('id01').style.display='none'\" class=\"cancelbtn\">Cancel</button> <br>\n      비밀번호가 생각 않나면 새로 회원가입 해주세요. 데이터는 그대로이고 비밀번호만 새로 설정 됩니다.\n    </div>\n  </form>\n</div>\n\n<div id=\"id02\" class=\"modal\">\n  \n  <form class=\"modal-content animate\" action=\"/register_act\" method=\"get\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id02').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n      <img src=\"http://c.doowon.ac.kr/image/i2r_big.png\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n\n    <div class=\"container\">\n      <label for=\"email\"><b>email</b></label>\n      <input type=\"text\" placeholder=\"Enter Username\" name=\"email\" required>\n      <button type=\"submit\">회원가입</button>\n      비밀번호는 email로 전송해 드립니다.\n    </div>\n\n    <div class=\"container\" style=\"background-color:#f1f1f1\">\n      <button type=\"button\" onclick=\"document.getElementById('id02').style.display='none'\" class=\"cancelbtn\">Cancel</button>\n    </div>\n  </form>\n</div>","output":"str","x":764,"y":148,"wires":[["9e06e850.85dae8"]]},{"id":"4d8a44f8.ea828c","type":"http in","z":"be92f87a.c53688","name":"","url":"/register_act","method":"get","upload":false,"swaggerDoc":"","x":241,"y":348,"wires":[["8a0f4b39.49e428"]]},{"id":"2db9096d.0ef676","type":"function","z":"be92f87a.c53688","name":"insert one","func":"var email=global.get(\"email\")||\"\";\nvar pw= Math.round(Math.random()*1000000);\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { 'email' : email, 'pw':pw };\nreturn newMsg;","outputs":1,"noerr":0,"x":701,"y":348,"wires":[["42453790.9a34f8","fa4037d.d99cac8"]]},{"id":"3bdfb0d6.e4936","type":"e-mail","z":"be92f87a.c53688","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"","x":1011,"y":408,"wires":[]},{"id":"8a0f4b39.49e428","type":"function","z":"be92f87a.c53688","name":"deleteMany","func":"global.set(\"msg_register_act\",msg);\nglobal.set(\"email\",msg.payload.email);\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'deleteMany';\n//newMsg.operation  = 'deleteOne';\nnewMsg.payload    = { 'email' : msg.payload.email};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":411,"y":348,"wires":[["fb84ad6c.cffa4"]]},{"id":"fa4037d.d99cac8","type":"function","z":"be92f87a.c53688","name":"write email","func":"var email=global.get(\"email\")||\"\";\nmsg.to=email;\nmsg.payload=\"임시 비밀번호는 \"+msg.payload.pw+\" 입니다. 로그인 후 변경해 주세요.\";\nmsg.topic=\"임시 비밀번호 from 김동일\";\nreturn msg;","outputs":1,"noerr":0,"x":871,"y":408,"wires":[["3bdfb0d6.e4936"]]},{"id":"42453790.9a34f8","type":"mongodb2 in","z":"be92f87a.c53688","service":"_ext_","configNode":"7c60b83e.73dbc8","name":"등록","collection":"","operation":"","x":851,"y":348,"wires":[["7ad579d7.a57638"]]},{"id":"fb84ad6c.cffa4","type":"mongodb2 in","z":"be92f87a.c53688","service":"_ext_","configNode":"7c60b83e.73dbc8","name":"지우기","collection":"","operation":"","x":553,"y":348,"wires":[["2db9096d.0ef676"]]},{"id":"b4ea1308.b0fed","type":"comment","z":"be92f87a.c53688","name":"","info":"https://myaccount.google.com/lesssecureapps?utm_source=google-account&utm_medium=web\n에서 보안 수준이 낮은 앱의 액세스를 허용","x":1134,"y":408,"wires":[]},{"id":"a3235760.d278f8","type":"http in","z":"be92f87a.c53688","name":"","url":"/login_act","method":"get","upload":false,"swaggerDoc":"","x":238,"y":206,"wires":[["2e777d5.3ccdb82"]]},{"id":"2e777d5.3ccdb82","type":"function","z":"be92f87a.c53688","name":"global","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"pw\",msg.payload.pw);\nglobal.set(\"msg_login_act\",msg);\nreturn msg;","outputs":1,"noerr":0,"x":391,"y":206,"wires":[["c5711d18.d60f"]]},{"id":"c5711d18.d60f","type":"function","z":"be92f87a.c53688","name":"findOne","func":"var email=global.get(\"email\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'email' : email};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":521,"y":206,"wires":[["7bfbb2dc.40dcfc"]]},{"id":"16b07da3.3638a2","type":"switch","z":"be92f87a.c53688","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":794,"y":206,"wires":[["eee7002.1c6fa"],["18cba596.fc8dea"]]},{"id":"18cba596.fc8dea","type":"function","z":"be92f87a.c53688","name":"ID 존재","func":"var pw=global.get(\"pw\")||\"\";\nif(msg.payload.pw==pw) {\n    msg.payload=\"로그인 환영합니다.\";\n    return [msg,null];\n}\nelse {\n    msg.payload=\"pw 일치하지 않습니다. 회원가입 새로 하세요.\";\n    return [null,msg];\n}    \n","outputs":2,"noerr":0,"x":964,"y":246,"wires":[["e7ac1bab.baf688"],["89191e6d.908ca"]]},{"id":"eee7002.1c6fa","type":"function","z":"be92f87a.c53688","name":"ID 없음","func":"msg.payload=\"ID가 존재하지않습니다. 회원가입을 새로 하세요\";\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":199,"wires":[["89191e6d.908ca"]]},{"id":"7bfbb2dc.40dcfc","type":"mongodb2 in","z":"be92f87a.c53688","service":"_ext_","configNode":"7c60b83e.73dbc8","name":"회원 검색","collection":"","operation":"","x":661,"y":206,"wires":[["16b07da3.3638a2"]]},{"id":"4f1dee4.c35b71","type":"template","z":"be92f87a.c53688","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='2; url=http://54.244.168.99:1880/login' method='get'> \n    </head>\n    <body>\n        <h1>{{ payload }}</h1>\n    </body>\n</html>","x":1294,"y":199,"wires":[["bb644d89.20d81"]]},{"id":"bb644d89.20d81","type":"http response","z":"be92f87a.c53688","name":"Go First Page","statusCode":"","headers":{},"x":1445,"y":199,"wires":[]},{"id":"e7ac1bab.baf688","type":"function","z":"be92f87a.c53688","name":"login 성공","func":"var email=global.get(\"email\")||\"\";\nmsg2=email+\"님  \"+msg.payload;\nvar msg=global.get(\"msg_login_act\")||\"\";\nmsg.payload=msg2;\nmsg.cookies = { \"name\":email };\nreturn msg;","outputs":1,"noerr":0,"x":1124,"y":252,"wires":[["cbde5c03.73c29"]]},{"id":"aca341fe.e129c","type":"comment","z":"be92f87a.c53688","name":"coockies 작성","info":"","x":1131,"y":290,"wires":[]},{"id":"cbde5c03.73c29","type":"template","z":"be92f87a.c53688","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='0; url=http://54.244.168.99:1880/main' method='get'> \n    </head>\n    <body>\n       </body>\n</html>","output":"str","x":1260,"y":252,"wires":[["2cbba42a.df76bc"]]},{"id":"2cbba42a.df76bc","type":"http response","z":"be92f87a.c53688","name":"Go Main Page","statusCode":"","headers":{},"x":1430,"y":252,"wires":[]},{"id":"89191e6d.908ca","type":"function","z":"be92f87a.c53688","name":"ID or PW 없음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_login_act\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"x":1138,"y":199,"wires":[["4f1dee4.c35b71"]]},{"id":"22665b4b.e72a64","type":"template","z":"be92f87a.c53688","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='0 url=http://54.244.168.99:1880/login' method='get'> \n    </head>\n    <body>\n        <h1>{{ payload }}</h1>\n    </body>\n</html>","x":1130,"y":346,"wires":[["2f5d553b.079d5a"]]},{"id":"2f5d553b.079d5a","type":"http response","z":"be92f87a.c53688","name":"Go Main Page","statusCode":"","headers":{},"x":1281,"y":346,"wires":[]},{"id":"7ad579d7.a57638","type":"function","z":"be92f87a.c53688","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_register_act\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"x":993,"y":347,"wires":[["22665b4b.e72a64"]]},{"id":"e6eb5af9.d2a758","type":"http in","z":"be92f87a.c53688","name":"","url":"/main","method":"get","upload":false,"swaggerDoc":"","x":223,"y":480,"wires":[["d43c81ab.a652"]]},{"id":"d43c81ab.a652","type":"function","z":"be92f87a.c53688","name":"find.toArray","func":"global.set(\"msg_main\",msg);\nvar email = msg.req.cookies.name;\nmsg.collection = 'localRecord';\nmsg.operation  = 'find.toArray';\nmsg.payload    = { 'email' : email };\nmsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn msg;","outputs":1,"noerr":0,"x":378,"y":480,"wires":[["a7e2df2a.c2576"]]},{"id":"a7e2df2a.c2576","type":"mongodb2 in","z":"be92f87a.c53688","service":"_ext_","configNode":"e8acf93.4a52d08","name":"admin","collection":"","operation":"","x":518,"y":480,"wires":[["dbfa49f.e93adb8"]]},{"id":"e9ebf734.8134e8","type":"http response","z":"be92f87a.c53688","name":"","statusCode":"","headers":{},"x":1166,"y":480,"wires":[]},{"id":"1844b4ad.83325b","type":"comment","z":"be92f87a.c53688","name":"HTML 작성","info":"","x":880,"y":520,"wires":[]},{"id":"dd5ec7f7.41a278","type":"comment","z":"be92f87a.c53688","name":"Main Page","info":"","x":80,"y":480,"wires":[]},{"id":"6b676948.a36488","type":"function","z":"be92f87a.c53688","name":"insert one","func":"var email = global.get(\"email\")||\"\";\nvar pw= global.get(\"pw\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { 'email' : email, 'pw':pw };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":740,"y":597,"wires":[["9b5ac61b.5a4a98"]]},{"id":"fd4736cc.d0afa8","type":"function","z":"be92f87a.c53688","name":"deleteMany","func":"global.set(\"msg_pw_change_act\",msg);\nvar email = msg.req.cookies.name;\nvar pw= msg.payload.pw;\nglobal.set(\"email\",email);\nglobal.set(\"pw\",pw);\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'deleteMany';\n//newMsg.operation  = 'deleteOne';\nnewMsg.payload    = { 'email' : email};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":465,"y":597,"wires":[["da24cd78.97f83"]]},{"id":"9b5ac61b.5a4a98","type":"mongodb2 in","z":"be92f87a.c53688","service":"_ext_","configNode":"7c60b83e.73dbc8","name":"등록","collection":"","operation":"","x":879,"y":597,"wires":[["946f4f0b.32a49"]]},{"id":"da24cd78.97f83","type":"mongodb2 in","z":"be92f87a.c53688","service":"_ext_","configNode":"7c60b83e.73dbc8","name":"지우기","collection":"","operation":"","x":607,"y":597,"wires":[["6b676948.a36488"]]},{"id":"1b9354b6.bf6b5b","type":"http in","z":"be92f87a.c53688","name":"","url":"/pw_change_act","method":"get","upload":false,"swaggerDoc":"","x":275,"y":597,"wires":[["fd4736cc.d0afa8"]]},{"id":"9b0a84f1.2904e8","type":"comment","z":"be92f87a.c53688","name":"비밀번호 변경","info":"","x":89,"y":597,"wires":[]},{"id":"9e06e850.85dae8","type":"template","z":"be92f87a.c53688","name":"login html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style> {{{payload.style}}} </style>\n</head>\n<body>\n<h2>김동일</h2>\n<h2>4차산업혁명의 시작</h2>\n<h2>센서와 엑튜에이터를 크라우드컴퓨터 빅데이터에 연결</h2>\n{{{payload.modal}}}\n<script> {{{payload.script}}} </script>\n</body>\n</html>","output":"str","x":903,"y":149,"wires":[["45180d99.60f3b4"]]},{"id":"583dd835.43fdc8","type":"function","z":"be92f87a.c53688","name":"list","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nvar i;\nvar s;\nvar r;\nvar sOut=msg.req.cookies.name+ \"님이 보유하신 기기들 입니다. <br>\";\n//sOut=\"<form action='/pw_change' method='post'>\"+\"<button>비밀번호변경</button> </form>\";\n//sOut=sOut+\"<form action='/logout' method='post'>\"+\"<button>Log Out</button> </form>\";\n//sOut=sOut+\"<form action='/machine' method='post'>\"+\"<button>기기등록</button> </form>\";\nfor(i=0;i<msg.payload.length;i++) {\n    r=\"<input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n    if(msg.payload[i].type == 0) {\n        s=\" 삼상전압전류(\"+msg.payload[i].chip + \")&emsp;\"+msg.payload[i].name+\"&emsp; 전압 : \" + msg.payload[i].v[0]+\", \"+ msg.payload[i].v[1]+\", \"+ msg.payload[i].v[2]+\"  전류 : \" + msg.payload[i].i[0]+\", \"+ msg.payload[i].i[1]+\", \"+ msg.payload[i].i[2];\n    }\n    else if(msg.payload[i].type==1) {\n        s=\"<form action='/powerswitch' method='post'> 파워스위치(\"+msg.payload[i].chip+\") \"+msg.payload[i].name+r+\"&emsp; <button name='on' value='0'>On</button>  <button name='on' value='1'>Off</button> </form>\";\n    }\n    else if(msg.payload[i].type==2) {\n        s=\"<form action='/motionswitch' method='post'> 인체감지스위치(\"+msg.payload[i].chip+\") \"+msg.payload[i].name+\"  지연시간\"+r+\"<input type='text' name='delay' value='5'>\"+\"<input type='submit' value='Submit'> </form>\";\n    }\n    else if(msg.payload[i].type==3)\n        s=msg.payload[i].chip + \" :  220V 단상전압전류 측정\";\n    sOut=sOut+s+\"<br>\";\n}    \nmsg.payload.list=sOut;\nreturn msg;","outputs":1,"noerr":0,"x":906,"y":480,"wires":[["f22fe10e.f0ee4"]]},{"id":"eda98d4e.0caa4","type":"template","z":"be92f87a.c53688","name":"modal","field":"payload.modal","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<button onclick=\"document.getElementById('id01').style.display='block'\" style=\"width:auto;\">비밀번호변경</button>\n<button onclick=\"document.getElementById('id02').style.display='block'\" style=\"width:auto;\">기기등록</button>\n<button class=\"button button2\" onclick=\"window.location.href = '/logout';\" style=\"width:auto;\">Log out</button> <br>\n\n<div id=\"id01\" class=\"modal\">\n  <form class=\"modal-content animate\" action=\"/pw_change_act\" method=\"get\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id01').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n      <img src=\"http://c.doowon.ac.kr/image/i2r_big.png\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n    \n    <div class=\"container\">\n      <label for=\"pw\"><b>Password</b></label>\n      <input type=\"password\" placeholder=\"Enter Password\" name=\"pw\" required>\n      <button type=\"submit\">비밀번호 변경</button>\n    </div>\n\n    <div class=\"container\" style=\"background-color:#f1f1f1\">\n      <button type=\"button\" onclick=\"document.getElementById('id01').style.display='none'\" class=\"cancelbtn\">Cancel</button>\n    </div>\n  </form>\n</div>\n\n<div id=\"id02\" class=\"modal\">\n  \n  <form class=\"modal-content animate\" action=\"/machine_register\" method=\"get\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id02').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n    </div>\n\n   <div class=\"container\">\n        맥어드레스는 기기에 표시되어 있습니다. <br>\n        <input type=\"text\" placeholder=\"Enter mac address\" name=\"chip\" required>\n        <input type=\"text\" placeholder=\"Enter name\" name=\"name\" required>\n        <input type='radio' name='type' value='0' checked> 삼상전압전류 측정<br> <input type='radio' name='type' value='1'>파워스위치<br> <input type='radio' name='type' value='2'> 인체감지 스위치<br>   <input type='radio' name='type' value='3'> 인체감지 스위치 <br>    \n   </div>\n\n    <div class=\"container\" >\n      <button name='regi' value='1' style=\"width:auto;\" class=\"button\">등록</button> &emsp; \n      <button name='regi' value='2' style=\"width:auto;\" class=\"button\">삭제</button> &emsp;\n      <button type=\"button\" onclick=\"document.getElementById('id02').style.display='none'\" class=\"cancelbtn\" >Cancel</button>\n    </div>\n  </form>\n</div>\n\n\n","output":"str","x":781,"y":480,"wires":[["583dd835.43fdc8"]]},{"id":"f22fe10e.f0ee4","type":"template","z":"be92f87a.c53688","name":"Main html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style> {{{payload.style}}} </style>\n</head>\n<body>\n<h2>4차산업혁명의 시작</h2>\n{{{payload.modal}}}\n{{{payload.list}}}\n<script> {{{payload.script}}} </script>\n</body>\n</html>","output":"str","x":1036,"y":480,"wires":[["e9ebf734.8134e8"]]},{"id":"28c00cfd.384c24","type":"template","z":"be92f87a.c53688","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='0 url=http://54.244.168.99:1880/login' method='get'> \n    </head>\n    <body>\n\n    </body>\n</html>","x":1130,"y":597,"wires":[["4cb6deca.1ec38"]]},{"id":"4cb6deca.1ec38","type":"http response","z":"be92f87a.c53688","name":"Go Main Page","statusCode":"","headers":{},"x":1281,"y":597,"wires":[]},{"id":"946f4f0b.32a49","type":"function","z":"be92f87a.c53688","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_pw_change_act\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"x":1004,"y":597,"wires":[["28c00cfd.384c24"]]},{"id":"5fd10021.0fab8","type":"http in","z":"be92f87a.c53688","name":"","url":"/logout","method":"get","upload":false,"swaggerDoc":"","x":210,"y":677,"wires":[["4f0c9670.2e0888"]]},{"id":"4f0c9670.2e0888","type":"function","z":"be92f87a.c53688","name":"Clear cookies","func":"// Find demo cookies and clear them\nvar cookieNames = Object.keys(msg.req.cookies).filter(function(cookieName) { return /^demo-/.test(cookieName);});\nmsg.cookies = {};\n\ncookieNames.forEach(function(cookieName) {\n    msg.cookies[cookieName] = null;\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":677,"wires":[["4432b4aa.9a227c"]]},{"id":"4432b4aa.9a227c","type":"template","z":"be92f87a.c53688","name":"Go Login","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<meta http-equiv='refresh' content='0; url=http://54.244.168.99:1880/login' method='get'> \n</html>","x":542,"y":677,"wires":[["f5e043fd.c6e92"]]},{"id":"f5e043fd.c6e92","type":"http response","z":"be92f87a.c53688","name":"","statusCode":"","headers":{},"x":672,"y":677,"wires":[]},{"id":"507575f0.2b8acc","type":"comment","z":"be92f87a.c53688","name":"logout","info":"","x":70,"y":677,"wires":[]},{"id":"dbfa49f.e93adb8","type":"function","z":"be92f87a.c53688","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_main\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"x":649,"y":480,"wires":[["eda98d4e.0caa4"]]},{"id":"49bc231.212a7dc","type":"function","z":"be92f87a.c53688","name":"global style","func":"global.set(\"style\",msg.payload.style);\nglobal.set(\"script\",msg.payload.script);\nreturn msg;","outputs":1,"noerr":0,"x":621,"y":148,"wires":[["2f36fd8c.1019c2"]]},{"id":"7c60b83e.73dbc8","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":"-1"},{"id":"e8acf93.4a52d08","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":""}]