5-13-1 AWS HTTP 회원등록 Register Node-REd MongoDB (2) .txt
[{"id":"e2c88340.aef9f","type":"http in","z":"be92f87a.c53688","name":"","url":"/login_act","method":"get","upload":false,"swaggerDoc":"","x":239,"y":192,"wires":[["33279e5.5af2662"]]},{"id":"c36e54c7.2dca78","type":"http response","z":"be92f87a.c53688","name":"","x":544,"y":192,"wires":[]},{"id":"33279e5.5af2662","type":"template","z":"be92f87a.c53688","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload.email}}  {{payload.pw}}  !","output":"str","x":405,"y":192,"wires":[["c36e54c7.2dca78"]]},{"id":"1846d732.d00d29","type":"http in","z":"be92f87a.c53688","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":218,"y":140,"wires":[["17275bf.765eda4"]]},{"id":"45180d99.60f3b4","type":"http response","z":"be92f87a.c53688","name":"","statusCode":"","headers":{},"x":778,"y":140,"wires":[]},{"id":"cf2833b4.0acb6","type":"comment","z":"be92f87a.c53688","name":"Log in","info":"","x":70,"y":140,"wires":[]},{"id":"e92cc8dc.84f888","type":"comment","z":"be92f87a.c53688","name":"회원가입","info":"","x":79,"y":260,"wires":[]},{"id":"ebdb5506.c28f88","type":"template","z":"be92f87a.c53688","name":"style","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"body {font-family: Arial, Helvetica, sans-serif;}\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\n  width: 100%;\n  padding: 12px 20px;\n  margin: 8px 0;\n  display: inline-block;\n  border: 1px solid #ccc;\n  box-sizing: border-box;\n}\n\n/* Set a style for all buttons */\nbutton {\n  background-color: #4CAF50;\n  color: white;\n  padding: 14px 20px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n/* Extra styles for the cancel button */\n.cancelbtn {\n  width: auto;\n  padding: 10px 18px;\n  background-color: #f44336;\n}\n\n/* Center the image and position the close button */\n.imgcontainer {\n  text-align: center;\n  margin: 24px 0 12px 0;\n  position: relative;\n}\n\nimg.avatar {\n  width: 40%;\n  border-radius: 50%;\n}\n\n.container {\n  padding: 16px;\n}\n\nspan.psw {\n  float: right;\n  padding-top: 16px;\n}\n\n/* The Modal (background) */\n.modal {\n  display: none; /* Hidden by default */\n  position: fixed; /* Stay in place */\n  z-index: 1; /* Sit on top */\n  left: 0;\n  top: 0;\n  width: 100%; /* Full width */\n  height: 100%; /* Full height */\n  overflow: auto; /* Enable scroll if needed */\n  background-color: rgb(0,0,0); /* Fallback color */\n  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n  padding-top: 60px;\n}\n\n/* Modal Content/Box */\n.modal-content {\n  background-color: #fefefe;\n  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */\n  border: 1px solid #888;\n  width: 80%; /* Could be more or less, depending on screen size */\n}\n\n/* The Close Button (x) */\n.close {\n  position: absolute;\n  right: 25px;\n  top: 0;\n  color: #000;\n  font-size: 35px;\n  font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n  color: red;\n  cursor: pointer;\n}\n\n/* Add Zoom Animation */\n.animate {\n  -webkit-animation: animatezoom 0.6s;\n  animation: animatezoom 0.6s\n}\n\n@-webkit-keyframes animatezoom {\n  from {-webkit-transform: scale(0)} \n  to {-webkit-transform: scale(1)}\n}\n  \n@keyframes animatezoom {\n  from {transform: scale(0)} \n  to {transform: scale(1)}\n}\n\n/* Change styles for span and cancel button on extra small screens */\n@media screen and (max-width: 300px) {\n  span.psw {\n     display: block;\n     float: none;\n  }\n  .cancelbtn {\n     width: 100%;\n  }\n}","x":508,"y":140,"wires":[["2f36fd8c.1019c2"]]},{"id":"17275bf.765eda4","type":"template","z":"be92f87a.c53688","name":"script","field":"payload.script","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"// Get the modal\nvar modal = document.getElementById('id01');\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    if (event.target == modal) {\n        modal.style.display = \"none\";\n    }\n}","output":"str","x":383,"y":140,"wires":[["ebdb5506.c28f88"]]},{"id":"2f36fd8c.1019c2","type":"template","z":"be92f87a.c53688","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style> {{{payload.style}}} </style>\n</head>\n<body>\n<h2>김동일</h2>\n<h2>4차산업혁명의 시작</h2>\n<h2>센서와 엑튜에이터를 크라우드컴퓨터 빅데이터에 연결</h2>\n\n<button onclick=\"document.getElementById('id01').style.display='block'\" style=\"width:auto;\">Login</button>\n<button onclick=\"document.getElementById('id02').style.display='block'\" style=\"width:auto;\">회원가입</button>\n\n<div id=\"id01\" class=\"modal\">\n  \n  <form class=\"modal-content animate\" action=\"/login_act\" method=\"get\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id01').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n      <img src=\"http://c.doowon.ac.kr/image/i2r_big.png\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n\n    <div class=\"container\">\n      <label for=\"email\"><b>email</b></label>\n      <input type=\"text\" placeholder=\"Enter Username\" name=\"email\" required>\n      <label for=\"pw\"><b>Password</b></label>\n      <input type=\"password\" placeholder=\"Enter Password\" name=\"pw\" required>\n      <button type=\"submit\">Login</button>\n    </div>\n\n    <div class=\"container\" style=\"background-color:#f1f1f1\">\n      <button type=\"button\" onclick=\"document.getElementById('id01').style.display='none'\" class=\"cancelbtn\">Cancel</button>\n      <span class=\"pw\">Forgot <a href=\"#\">password?</a></span>\n    </div>\n  </form>\n</div>\n\n<div id=\"id02\" class=\"modal\">\n  \n  <form class=\"modal-content animate\" action=\"/register_act\" method=\"get\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id02').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n      <img src=\"http://c.doowon.ac.kr/image/i2r_big.png\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n\n    <div class=\"container\">\n      <label for=\"email\"><b>email</b></label>\n      <input type=\"text\" placeholder=\"Enter Username\" name=\"email\" required>\n      <button type=\"submit\">회원가입</button>\n      비밀번호는 email로 전송해 드립니다.\n    </div>\n\n    <div class=\"container\" style=\"background-color:#f1f1f1\">\n      <button type=\"button\" onclick=\"document.getElementById('id02').style.display='none'\" class=\"cancelbtn\">Cancel</button>\n    </div>\n  </form>\n</div>\n\n<script> {{{payload.script}}} </script>\n\n</body>\n</html>","output":"str","x":639,"y":140,"wires":[["45180d99.60f3b4"]]},{"id":"4d8a44f8.ea828c","type":"http in","z":"be92f87a.c53688","name":"","url":"/register_act","method":"get","upload":false,"swaggerDoc":"","x":239,"y":258,"wires":[["8a0f4b39.49e428","6a396d60.ecfa94"]]},{"id":"2db9096d.0ef676","type":"function","z":"be92f87a.c53688","name":"insert one","func":"var email=global.get(\"email\")||\"\";\nvar pw= Math.round(Math.random()*1000000);\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { 'email' : email, 'pw':pw };\nreturn newMsg;","outputs":1,"noerr":0,"x":699,"y":258,"wires":[["42453790.9a34f8","fa4037d.d99cac8"]]},{"id":"3bdfb0d6.e4936","type":"e-mail","z":"be92f87a.c53688","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"","x":1009,"y":318,"wires":[]},{"id":"8a0f4b39.49e428","type":"function","z":"be92f87a.c53688","name":"deleteMany","func":"global.set(\"email\",msg.payload.email);\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'deleteMany';\n//newMsg.operation  = 'deleteOne';\nnewMsg.payload    = { 'email' : msg.payload.email};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":409,"y":258,"wires":[["fb84ad6c.cffa4"]]},{"id":"fa4037d.d99cac8","type":"function","z":"be92f87a.c53688","name":"write email","func":"var email=global.get(\"email\")||\"\";\nmsg.to=email;\nmsg.payload=\"임시 비밀번호는 \"+msg.payload.pw+\" 입니다. 로그인 후 변경해 주세요.\";\nmsg.topic=\"임시 비밀번호 from 김동일\";\nreturn msg;","outputs":1,"noerr":0,"x":869,"y":318,"wires":[["3bdfb0d6.e4936"]]},{"id":"42453790.9a34f8","type":"mongodb2 in","z":"be92f87a.c53688","service":"_ext_","configNode":"7c60b83e.73dbc8","name":"등록","collection":"","operation":"","x":849,"y":258,"wires":[[]]},{"id":"fb84ad6c.cffa4","type":"mongodb2 in","z":"be92f87a.c53688","service":"_ext_","configNode":"7c60b83e.73dbc8","name":"지우기","collection":"","operation":"","x":551,"y":258,"wires":[["2db9096d.0ef676"]]},{"id":"d2cf6196.e5ee1","type":"http response","z":"be92f87a.c53688","name":"","statusCode":"","headers":{},"x":709,"y":318,"wires":[]},{"id":"b4ea1308.b0fed","type":"comment","z":"be92f87a.c53688","name":"","info":"https://myaccount.google.com/lesssecureapps?utm_source=google-account&utm_medium=web\n에서 보안 수준이 낮은 앱의 액세스를 허용","x":1132,"y":318,"wires":[]},{"id":"2c4aa627.6249aa","type":"template","z":"be92f87a.c53688","name":"Return First Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<meta http-equiv='refresh' content='0; url=http://54.244.168.99:1880/login' method='get'> \n</html>","x":549,"y":318,"wires":[["d2cf6196.e5ee1"]]},{"id":"6a396d60.ecfa94","type":"delay","z":"be92f87a.c53688","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":369,"y":318,"wires":[["2c4aa627.6249aa"]]},{"id":"7c60b83e.73dbc8","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":"-1"}]