5-14-1 Create HTML Email Template in node-RED.txt
[{"id":"6a57f810.d1fe58","type":"http in","z":"c8f1c423.ff7df8","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":220,"y":100,"wires":[["13e09daa.e33fb2"]]},{"id":"25098c69.0cd7d4","type":"http response","z":"c8f1c423.ff7df8","name":"","statusCode":"","headers":{},"x":1034,"y":101,"wires":[]},{"id":"672f8e51.7c8b8","type":"comment","z":"c8f1c423.ff7df8","name":"Log in","info":"","x":72,"y":100,"wires":[]},{"id":"e1757346.c52b7","type":"comment","z":"c8f1c423.ff7df8","name":"회원가입","info":"","x":81,"y":292,"wires":[]},{"id":"266e1d41.42d862","type":"template","z":"c8f1c423.ff7df8","name":"style","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"body {font-family: Arial, Helvetica, sans-serif;}\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\n  width: 100%;\n  padding: 12px 20px;\n  margin: 8px 0;\n  display: inline-block;\n  border: 1px solid #ccc;\n  box-sizing: border-box;\n}\n\n/* Set a style for all buttons */\nbutton {\n  background-color: #4CAF50; /*Green*/\n  color: white;\n  padding: 14px 20px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n}\n\n.button2 {background-color: #008CBA;} /* Blue */\n.button3 {background-color: #f44336;} /* Red */ \n.button4 {background-color: #e7e7e7; color: black;} /* Gray */ \n.button5 {background-color: #555555;} /* Black */\n.button20 {width: 20%;} \n.buttonOn {background-color:Lime; color:blue; width:20%;} \n.buttonOff {background-color:LightGrey; color:white; width:20%;} \n.buttonLedon {background-color:OrangeRed; color:blue; width:10%;} \n.buttonLedoff {background-color:LightGrey; color:white; width:10%;} \n\nbutton:hover {\n  opacity: 0.8;\n}\n\n/* Extra styles for the cancel button */\n.cancelbtn {\n  width: auto;\n  padding: 10px 18px;\n  background-color: #f44336;\n}\n\n/* Center the image and position the close button */\n.imgcontainer {\n  text-align: center;\n  margin: 24px 0 12px 0;\n  position: relative;\n}\n\nimg.avatar {\n  width: 40%;\n  border-radius: 50%;\n}\n\n.container {\n  padding: 16px;\n}\n\nspan.psw {\n  float: right;\n  padding-top: 16px;\n}\n\n/* The Modal (background) */\n.modal {\n  display: none; /* Hidden by default */\n  position: fixed; /* Stay in place */\n  z-index: 1; /* Sit on top */\n  left: 0;\n  top: 0;\n  width: 100%; /* Full width */\n  height: 100%; /* Full height */\n  overflow: auto; /* Enable scroll if needed */\n  background-color: rgb(0,0,0); /* Fallback color */\n  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n  padding-top: 60px;\n}\n\n/* Modal Content/Box */\n.modal-content {\n  background-color: #fefefe;\n  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */\n  border: 1px solid #888;\n  width: 80%; /* Could be more or less, depending on screen size */\n}\n\n/* The Close Button (x) */\n.close {\n  position: absolute;\n  right: 25px;\n  top: 0;\n  color: #000;\n  font-size: 35px;\n  font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n  color: red;\n  cursor: pointer;\n}\n\n/* Add Zoom Animation */\n.animate {\n  -webkit-animation: animatezoom 0.6s;\n  animation: animatezoom 0.6s\n}\n\n@-webkit-keyframes animatezoom {\n  from {-webkit-transform: scale(0)} \n  to {-webkit-transform: scale(1)}\n}\n  \n@keyframes animatezoom {\n  from {transform: scale(0)} \n  to {transform: scale(1)}\n}\n\n/* Change styles for span and cancel button on extra small screens */\n@media screen and (max-width: 300px) {\n  span.psw {\n     display: block;\n     float: none;\n  }\n  .cancelbtn {\n     width: 100%;\n  }\n}","x":478,"y":100,"wires":[["8b3059cb.1754b8"]]},{"id":"13e09daa.e33fb2","type":"template","z":"c8f1c423.ff7df8","name":"script","field":"payload.script","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"// Get the modal\nvar modal = document.getElementById('id01');\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    if (event.target == modal) {\n        modal.style.display = \"none\";\n    }\n}","output":"str","x":353,"y":100,"wires":[["266e1d41.42d862"]]},{"id":"b6b307e.bfe96f8","type":"template","z":"c8f1c423.ff7df8","name":"modal","field":"payload.modal","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<button onclick=\"document.getElementById('id01').style.display='block'\" style=\"width:auto;\">Login</button>\n<button onclick=\"document.getElementById('id02').style.display='block'\" style=\"width:auto;\">회원가입</button>\n\n<div id=\"id01\" class=\"modal\">\n  \n  <form class=\"modal-content animate\" action=\"/login_act\" method=\"get\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id01').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n      <img src=\"http://c.doowon.ac.kr/image/i2r_big.png\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n\n    <div class=\"container\">\n      <label for=\"email\"><b>email</b></label>\n      <input type=\"text\" placeholder=\"Enter Username\" name=\"email\" required>\n      <label for=\"pw\"><b>Password</b></label>\n      <input type=\"password\" placeholder=\"Enter Password\" name=\"pw\" required>\n      <button type=\"submit\" >Login</button>\n    </div>\n\n    <div class=\"container\" style=\"background-color:#f1f1f1\">\n      <button type=\"button\" onclick=\"document.getElementById('id01').style.display='none'\" class=\"cancelbtn\">Cancel</button> <br>\n      비밀번호가 생각 않나면 새로 회원가입 해주세요. 데이터는 그대로이고 비밀번호만 새로 설정 됩니다.\n    </div>\n  </form>\n</div>\n\n<div id=\"id02\" class=\"modal\">\n  \n  <form class=\"modal-content animate\" action=\"/register_agree\" method=\"get\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id02').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n      <img src=\"http://c.doowon.ac.kr/image/i2r_big.png\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n\n    <div class=\"container\">\n      <label for=\"email\"><b>email</b></label>\n      <input type=\"text\" placeholder=\"Enter Username\" name=\"email\" required>\n      <button type=\"submit\">회원가입</button>\n      비밀번호는 email로 전송해 드립니다.\n    </div>\n\n    <div class=\"container\" style=\"background-color:#f1f1f1\">\n      <button type=\"button\" onclick=\"document.getElementById('id02').style.display='none'\" class=\"cancelbtn\">Cancel</button>\n    </div>\n  </form>\n</div>","output":"str","x":765,"y":100,"wires":[["dc554b73.fb06f8"]]},{"id":"8e60d92e.489098","type":"http in","z":"c8f1c423.ff7df8","name":"","url":"/register_act","method":"post","upload":false,"swaggerDoc":"","x":251,"y":290,"wires":[["760b23f7.750a7c"]]},{"id":"52739faf.9df51","type":"function","z":"c8f1c423.ff7df8","name":"insert one","func":"var email=global.get(\"email\")||\"\";\nvar pw=global.get(\"pw\")||\"\";\n//var msg1=global.get(\"register_act\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { 'email' : email, 'pw': pw };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":726,"y":290,"wires":[["79d1d586.acb1fc"]]},{"id":"760b23f7.750a7c","type":"function","z":"c8f1c423.ff7df8","name":"deleteMany","func":"if(parseInt(msg.payload.agree)==1) {\n    global.set(\"msg_register_act\",msg);\n    global.set(\"email\",msg.payload.email);\n    global.set(\"pw\",msg.payload.pw);\n    var newMsg = {};\n    newMsg.collection = 'member';\n    newMsg.operation  = 'deleteMany';\n    newMsg.payload    = { 'email' : msg.payload.email};\n    newMsg.projection = { 'email' : 1 , '_id' : 0 };\n    return newMsg;\n}","outputs":1,"noerr":0,"x":436,"y":290,"wires":[["db0c04dc.4db5f8"]]},{"id":"79d1d586.acb1fc","type":"mongodb2 in","z":"c8f1c423.ff7df8","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"등록","collection":"","operation":"","x":876,"y":290,"wires":[["ede8bb45.7891f8"]]},{"id":"db0c04dc.4db5f8","type":"mongodb2 in","z":"c8f1c423.ff7df8","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"지우기","collection":"","operation":"","x":578,"y":290,"wires":[["52739faf.9df51"]]},{"id":"ee2e3fdf.ec08","type":"http in","z":"c8f1c423.ff7df8","name":"","url":"/login_act","method":"get","upload":false,"swaggerDoc":"","x":239,"y":158,"wires":[["ec1e075.33083f8"]]},{"id":"ec1e075.33083f8","type":"function","z":"c8f1c423.ff7df8","name":"global","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"pw\",msg.payload.pw);\nglobal.set(\"msg_login_act\",msg);\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":158,"wires":[["edf81a1a.417368"]]},{"id":"edf81a1a.417368","type":"function","z":"c8f1c423.ff7df8","name":"findOne","func":"var email=global.get(\"email\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'email' : email};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":522,"y":158,"wires":[["89ac6724.af0ca8"]]},{"id":"f66bea2a.ae57d8","type":"switch","z":"c8f1c423.ff7df8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":795,"y":158,"wires":[["ce5913db.e9422"],["d5e9259d.1fc788"]]},{"id":"d5e9259d.1fc788","type":"function","z":"c8f1c423.ff7df8","name":"ID 존재","func":"var pw=global.get(\"pw\")||\"\";\nif(msg.payload.pw==pw) {\n    msg.payload=\"로그인 환영합니다.\";\n    return [msg,null];\n}\nelse {\n    msg.payload=\"pw 일치하지 않습니다. 회원가입 새로 하세요.\";\n    return [null,msg];\n}    \n","outputs":2,"noerr":0,"x":965,"y":198,"wires":[["ff7bad43.4c019"],["d4d606dd.26a8b8"]]},{"id":"ce5913db.e9422","type":"function","z":"c8f1c423.ff7df8","name":"ID 없음","func":"msg.payload=\"ID가 존재하지않습니다. 회원가입을 새로 하세요\";\nreturn msg;","outputs":1,"noerr":0,"x":961,"y":151,"wires":[["d4d606dd.26a8b8"]]},{"id":"89ac6724.af0ca8","type":"mongodb2 in","z":"c8f1c423.ff7df8","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"회원 검색","collection":"","operation":"","x":662,"y":158,"wires":[["f66bea2a.ae57d8"]]},{"id":"c7654301.58c3","type":"template","z":"c8f1c423.ff7df8","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='2; url=http://54.214.53.183:1880/login' method='get'> \n    </head>\n    <body>\n        <h1>{{ payload }}</h1>\n    </body>\n</html>","x":1370,"y":240,"wires":[["99bb7faf.4b3e3"]]},{"id":"99bb7faf.4b3e3","type":"http response","z":"c8f1c423.ff7df8","name":"Go Login Page","statusCode":"","headers":{},"x":1521,"y":240,"wires":[]},{"id":"ff7bad43.4c019","type":"function","z":"c8f1c423.ff7df8","name":"login 성공","func":"var email=global.get(\"email\")||\"\";\nvar msg1=global.get(\"msg_login_act\")||\"\";\nmsg1.payload=email+\"님  \"+msg.payload;\nmsg1.cookies = { \"name\":email };\nreturn msg1;\n/*\nvar email=global.get(\"email\")||\"\";\nmsg2=email+\"님  \"+msg.payload;\nvar msg=global.get(\"msg_login_act\")||\"\";\nmsg.payload=msg2;\nmsg.cookies = { \"name\":email };\nreturn msg;\n*/","outputs":1,"noerr":0,"x":1125,"y":204,"wires":[["6457ed09.277674"]]},{"id":"16647ae2.32d225","type":"comment","z":"c8f1c423.ff7df8","name":"coockies 작성","info":"","x":1132,"y":242,"wires":[]},{"id":"21264391.529b2c","type":"template","z":"c8f1c423.ff7df8","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='0; url=http://54.214.53.183:1880/main' method='get'> \n    </head>\n    <body>\n       </body>\n</html","output":"str","x":1370,"y":300,"wires":[["9b8da75a.037d58"]]},{"id":"9b8da75a.037d58","type":"http response","z":"c8f1c423.ff7df8","name":"Go Main Page","statusCode":"","headers":{},"x":1522,"y":300,"wires":[]},{"id":"d4d606dd.26a8b8","type":"function","z":"c8f1c423.ff7df8","name":"ID or PW 없음","func":"var msg1=global.get(\"msg_login_act\")||\"\";\nmsg1.payload=msg.payload;\nreturn msg1;\n/*\nvar msg1=msg.payload;\nvar msg=global.get(\"msg_login_act\")||\"\";\nmsg.payload=msg1;\nreturn msg;\n*/","outputs":1,"noerr":0,"x":1139,"y":151,"wires":[["62f199f3.70d1b8"]]},{"id":"ede8bb45.7891f8","type":"function","z":"c8f1c423.ff7df8","name":"msg 받음","func":"var msg1=global.get(\"msg_register_act\")||\"\";\nmsg1.payload=\"등록 되었습니다.\";\nreturn msg1;\n/*\nvar msg1=msg.payload;\nvar msg=global.get(\"msg_register_act\")||\"\";\nmsg.payload=msg1;\nreturn msg;\n*/","outputs":1,"noerr":0,"x":1018,"y":289,"wires":[["10dbf9ed.ce2c86"]]},{"id":"dc554b73.fb06f8","type":"template","z":"c8f1c423.ff7df8","name":"login html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style> {{{payload.style}}} </style>\n</head>\n<body>\n<h2>김동일</h2>\n<h2>4차산업혁명의 시작</h2>\n<h2>센서와 엑튜에이터를 크라우드컴퓨터 빅데이터에 연결</h2>\n{{{payload.modal}}}\n<script> {{{payload.script}}} </script>\n</body>\n</html>","output":"str","x":904,"y":101,"wires":[["25098c69.0cd7d4"]]},{"id":"8b3059cb.1754b8","type":"function","z":"c8f1c423.ff7df8","name":"global style","func":"global.set(\"style\",msg.payload.style);\nglobal.set(\"script\",msg.payload.script);\nreturn msg;","outputs":1,"noerr":0,"x":622,"y":100,"wires":[["b6b307e.bfe96f8"]]},{"id":"103ab747.6c6ef9","type":"link in","z":"c8f1c423.ff7df8","name":"Login","links":["62f199f3.70d1b8","10dbf9ed.ce2c86","cd9b1b72.60d088","db4c22a0.1a8","277875fb.bdb43a"],"x":1275,"y":240,"wires":[["c7654301.58c3"]]},{"id":"62f199f3.70d1b8","type":"link out","z":"c8f1c423.ff7df8","name":"","links":["103ab747.6c6ef9"],"x":1256,"y":151,"wires":[]},{"id":"82e3e3e0.cf047","type":"link in","z":"c8f1c423.ff7df8","name":"Main","links":["6457ed09.277674","1f045d85.6a9eb2","250eafef.fdf1f","68a5f2a5.f5958c","d1b3b938.5fd1b8"],"x":1279,"y":300,"wires":[["21264391.529b2c"]]},{"id":"6457ed09.277674","type":"link out","z":"c8f1c423.ff7df8","name":"","links":["82e3e3e0.cf047"],"x":1216,"y":204,"wires":[]},{"id":"10dbf9ed.ce2c86","type":"link out","z":"c8f1c423.ff7df8","name":"","links":["103ab747.6c6ef9"],"x":1119,"y":289,"wires":[]},{"id":"7b389336.88107c","type":"http in","z":"c8f1c423.ff7df8","name":"","url":"/register_agree","method":"get","upload":false,"swaggerDoc":"","x":309,"y":240,"wires":[["3c45982.5d65968"]]},{"id":"3c45982.5d65968","type":"function","z":"c8f1c423.ff7df8","name":"메일작성","func":"msg.payload.pw= Math.round(Math.random()*1000000);\nvar s=\"\";\nmsg.to=msg.payload.email;\ns=\"안녕하세요. <br>임시 비밀번호는 \"+msg.payload.pw+\" 입니다. <br>아래 동의하고 로그인 후 변경해 주세요.\";\nmsg.topic=\"임시 비밀번호 입니다. \";\ns+=\"<form action=http://54.214.53.183:1880/register_act method=post>\";\ns+=\"<input type='hidden' name='agree' value=1>\";\ns+=\"<input type='hidden' name='email' value=\"+msg.payload.email+\">\";\ns+=\"<input type='hidden' name='pw' value=\"+msg.payload.pw+\">\";\ns+=\"<br><button type='submit'>회원가입을 동의 합니다.</button></form>\";  \nmsg.body=s;\nmsg.html=\"안녕하세요ggg\";\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":240,"wires":[["3fd8b4b.d22274c"]]},{"id":"60a0d1b.417e73","type":"comment","z":"c8f1c423.ff7df8","name":"회원가입전 메일보냄","info":"","x":110,"y":240,"wires":[]},{"id":"3fd8b4b.d22274c","type":"e-mail out","z":"c8f1c423.ff7df8","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":610,"y":240,"wires":[["d6f2628f.160b"]]},{"id":"277875fb.bdb43a","type":"link out","z":"c8f1c423.ff7df8","name":"","links":["103ab747.6c6ef9"],"x":875,"y":240,"wires":[]},{"id":"d6f2628f.160b","type":"function","z":"c8f1c423.ff7df8","name":"msg 받음","func":"//var msg1=global.get(\"msg_register_act\")||\"\";\nmsg.payload=\"메일을 보냈습니다. 확인 후 동의해 주세요.\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":240,"wires":[["277875fb.bdb43a"]]},{"id":"8364b0aa.ebd7e","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":"-1"}]