5-15 HTTP Node-RED OpenWeatherMap.org API.txt
[{"id":"d8c888d0.d1a648","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"1f025caa.97c7f3","type":"http request","z":"d8c888d0.d1a648","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://samples.openweathermap.org/data/2.5/weather?q=London,uk&appid=b6907d289e10d714a6e88b30761fae22","tls":"","proxy":"","authType":"","x":292.01161193847656,"y":84.45313453674316,"wires":[["345f24a1.b6c65c"]]},{"id":"7b28d8c5.1041d8","type":"inject","z":"d8c888d0.d1a648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128.01155853271484,"y":84.18746757507324,"wires":[["1f025caa.97c7f3"]]},{"id":"345f24a1.b6c65c","type":"debug","z":"d8c888d0.d1a648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460.0167999267578,"y":83.15621948242188,"wires":[]},{"id":"70b2ac80.1a3ca4","type":"comment","z":"d8c888d0.d1a648","name":"opeanwether","info":"https://openweathermap.org/current\n참조유튜브 https://www.youtube.com/watch?v=cOiuBhf17kg","x":115.01155090332031,"y":37.0078067779541,"wires":[]},{"id":"1184ee99.58a891","type":"http request","z":"d8c888d0.d1a648","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://samples.openweathermap.org/data/2.5/weather?q=Dallas,us&appid=3065e8147e5873c191302dcdc03b843c","tls":"","proxy":"","authType":"basic","x":294.01734924316406,"y":140.0103816986084,"wires":[["498571f7.4b707"]]},{"id":"a34bbcd3.10e9d","type":"inject","z":"d8c888d0.d1a648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127.01732635498047,"y":140.7447338104248,"wires":[["1184ee99.58a891"]]},{"id":"498571f7.4b707","type":"debug","z":"d8c888d0.d1a648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":465.0225524902344,"y":140.7134666442871,"wires":[]},{"id":"2bf54a80.5205d6","type":"http request","z":"d8c888d0.d1a648","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://samples.openweathermap.org/data/2.5/weather?lat=37&lon=127.5&appid=3065e8147e5873c191302dcdc03b843c","tls":"","proxy":"","authType":"basic","x":293.0173797607422,"y":192.01038551330566,"wires":[["5ccc6287.e5b78c"]]},{"id":"349866ba.8a475a","type":"inject","z":"d8c888d0.d1a648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":131.0173568725586,"y":191.74472427368164,"wires":[["2bf54a80.5205d6"]]},{"id":"5ccc6287.e5b78c","type":"debug","z":"d8c888d0.d1a648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":469.02257537841797,"y":190.71348762512207,"wires":[]},{"id":"a6ea07bc.e42148","type":"http request","z":"d8c888d0.d1a648","name":"ID","method":"GET","ret":"obj","paytoqs":false,"url":"https://samples.openweathermap.org/data/2.5/weather?id=1835841&appid=3065e8147e5873c191302dcdc03b843c","tls":"","proxy":"","authType":"basic","x":276.0173873901367,"y":243.01047325134277,"wires":[["372e5be.12fbea4"]]},{"id":"7b13bb8a.5ccd14","type":"inject","z":"d8c888d0.d1a648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":132.01736450195312,"y":243.74482536315918,"wires":[["a6ea07bc.e42148"]]},{"id":"372e5be.12fbea4","type":"debug","z":"d8c888d0.d1a648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":473.0225830078125,"y":241.71357536315918,"wires":[]},{"id":"819a6aa7.b4fb58","type":"inject","z":"d8c888d0.d1a648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116.06944274902344,"y":313.96875762939453,"wires":[["58973ad5.9cccd4"]]},{"id":"58973ad5.9cccd4","type":"http request","z":"d8c888d0.d1a648","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://samples.openweathermap.org/data/2.5/weather?q=London,uk&appid=3065e8147e5873c191302dcdc03b843c","tls":"","proxy":"","authType":"basic","x":279.076416015625,"y":314.24652671813965,"wires":[["15d83f2b.1c7d91","4d4ba31e.770f5c"]]},{"id":"15d83f2b.1c7d91","type":"debug","z":"d8c888d0.d1a648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":454.0798797607422,"y":315.5729501247406,"wires":[]},{"id":"4d4ba31e.770f5c","type":"debug","z":"d8c888d0.d1a648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.temp","targetType":"msg","x":488.0833282470703,"y":372.56250762939453,"wires":[]}]