5-18 Node-RED 에서 Command 상태의 nodejs mongoDB 실행하기.txt
[{"id":"9254ab87.3adc38","type":"debug","z":"6b421e95.55197","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":709.9999580383301,"y":98.01041507720947,"wires":[]},{"id":"fcad060b.7af258","type":"inject","z":"6b421e95.55197","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":147.00691986083984,"y":107.7812147140503,"wires":[["42e15e58.eea7c"]]},{"id":"42e15e58.eea7c","type":"exec","z":"6b421e95.55197","command":"node D:\\program\\nodejs\\demo_mongodb_insert.js","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":424.45140075683594,"y":109.19079399108887,"wires":[["9254ab87.3adc38"],[],[]]}]