5-19-2-1 Node RED-Firebase Realtime Database Node.txt
[{"id":"e28043f9.6c0a","type":"firebase in","z":"d3719bb9.3e6f48","name":"MyHome","ref":"/data","dataAtStart":true,"admin":"c21b6bbc.fcac78","x":120,"y":240,"wires":[["1fabea87.6fc125","be4a137d.1a18f"]]},{"id":"e2a6612b.2b679","type":"ui_switch","z":"d3719bb9.3e6f48","name":"","label":"안방","tooltip":"","group":"52897f24.573b1","order":0,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-refresh fa-spin","oncolor":"lime","offvalue":"0","offvalueType":"num","officon":"fa-arrow-circle-down","offcolor":"gray","x":430,"y":300,"wires":[[]]},{"id":"be4a137d.1a18f","type":"function","z":"d3719bb9.3e6f48","name":"","func":"msg.payload=msg.payload.on;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":300,"wires":[["e2a6612b.2b679"]]},{"id":"1fabea87.6fc125","type":"debug","z":"d3719bb9.3e6f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":240,"wires":[]},{"id":"c21b6bbc.fcac78","type":"firebase admin","z":"","name":"MyHome"},{"id":"52897f24.573b1","type":"ui_group","z":"","name":"우리집 전등","tab":"d0ef49fd.3aa868","order":1,"disp":true,"width":"6","collapse":false},{"id":"d0ef49fd.3aa868","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]