5-19-2-2 구글 챗봇 Firebase & MongoDB와 연동 사용.txt
[{"id":"121d2d84.6d1cc2","type":"firebase in","z":"d3719bb9.3e6f48","name":"MyHome","ref":"/data","dataAtStart":true,"admin":"c21b6bbc.fcac78","x":100,"y":80,"wires":[["fbe40e12.699db","1f03607c.5746b","5af2780e.823928"]]},{"id":"636185aa.f7989c","type":"ui_switch","z":"d3719bb9.3e6f48","name":"","label":"안방","tooltip":"","group":"52897f24.573b1","order":0,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-refresh fa-spin","oncolor":"lime","offvalue":"0","offvalueType":"num","officon":"fa-arrow-circle-down","offcolor":"gray","x":370,"y":140,"wires":[[]]},{"id":"1f03607c.5746b","type":"function","z":"d3719bb9.3e6f48","name":"","func":"msg.payload=msg.payload.on;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":140,"wires":[["636185aa.f7989c"]]},{"id":"fbe40e12.699db","type":"debug","z":"d3719bb9.3e6f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":80,"wires":[]},{"id":"61295915.7b2958","type":"mongodb2 in","z":"d3719bb9.3e6f48","service":"_ext_","configNode":"c5df68df.353cd8","name":"local/lights","collection":"","operation":"","x":350,"y":200,"wires":[[]]},{"id":"5af2780e.823928","type":"function","z":"d3719bb9.3e6f48","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'lights';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'name' : msg.payload.name}, {$set:{ 'on':msg.payload.on}} ];\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["61295915.7b2958"]]},{"id":"c21b6bbc.fcac78","type":"firebase admin","z":"","name":"MyHome"},{"id":"52897f24.573b1","type":"ui_group","z":"","name":"우리집 전등","tab":"d0ef49fd.3aa868","order":1,"disp":true,"width":"6","collapse":false},{"id":"c5df68df.353cd8","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/local","name":"","options":"","parallelism":"-1"},{"id":"d0ef49fd.3aa868","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]