5-2-1 mqtt step01.txt
[{"id":"4c65861e.6f36f8","type":"mqtt out","z":"7f81baa.08abf44","name":"","topic":"outTopic_zxcvb12345","qos":"","retain":"","broker":"129593e0.7e203c","x":446,"y":83,"wires":[]},{"id":"aabaac3.7de315","type":"inject","z":"7f81baa.08abf44","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":171,"y":81,"wires":[["4c65861e.6f36f8"]]},{"id":"bc9b174a.2f4d98","type":"mqtt in","z":"7f81baa.08abf44","name":"","topic":"outTopic_zxcvb12345","qos":"2","broker":"129593e0.7e203c","x":213,"y":167,"wires":[["a69998e2.295808","2082ce77.81c472"]]},{"id":"a69998e2.295808","type":"debug","z":"7f81baa.08abf44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":421,"y":163,"wires":[]},{"id":"2082ce77.81c472","type":"ui_text","z":"7f81baa.08abf44","group":"1722d6c0.c5b989","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":426,"y":227,"wires":[]},{"id":"64adf6be.635b48","type":"ui_text_input","z":"7f81baa.08abf44","name":"","label":"","tooltip":"","group":"1722d6c0.c5b989","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":167,"y":32,"wires":[["4c65861e.6f36f8"]]},{"id":"129593e0.7e203c","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"asdfasfsafasfsffdsd","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1722d6c0.c5b989","type":"ui_group","name":"Group 1","tab":"76e51cdf.b93f44","order":1,"disp":true,"width":6},{"id":"76e51cdf.b93f44","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]