5-2-4 Node-red Template  Led.txt
[{"id":"daaccc0.85e8f38","type":"comment","z":"7f81baa.08abf44","name":"Led »ç¿ë¹ý","info":"","x":165.0798568725586,"y":70.20486640930176,"wires":[]},{"id":"5b86ba2e.66aa74","type":"function","z":"7f81baa.08abf44","name":"Test","func":"msg.color = (msg.payload === \"ON\")?\"lime\":\"DarkOrange \";\nreturn msg;","outputs":1,"noerr":0,"x":291.0173797607422,"y":133.0104055404663,"wires":[["55f2b764.ceea68","2ee3094c.88db26","29563ad8.7ece96","84183fc4.20b73"]]},{"id":"84183fc4.20b73","type":"ui_text","z":"7f81baa.08abf44","group":"1722d6c0.c5b989","order":2,"width":"3","height":"1","name":"","label":"LED","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":440.0174026489258,"y":131.01043128967285,"wires":[]},{"id":"2ee3094c.88db26","type":"ui_template","z":"7f81baa.08abf44","group":"1722d6c0.c5b989","name":"LED1","order":3,"width":0,"height":0,"format":"<svg width=\"100\" height=\"80\">\n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"20\"\n            style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":441.0799255371094,"y":185.6701602935791,"wires":[[]]},{"id":"29563ad8.7ece96","type":"ui_template","z":"7f81baa.08abf44","group":"1722d6c0.c5b989","name":"LED2","order":4,"width":0,"height":0,"format":"<style>\n\n#circle1 {\n    stroke: none;\n    fill: {{msg.color}};\n}\n\n</style>\n\n<svg>\n    <circle id=\"circle1\" cx=\"50\" cy=\"20\" r=\"20\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":445.0173797607422,"y":237.0104112625122,"wires":[[]]},{"id":"55f2b764.ceea68","type":"ui_template","z":"7f81baa.08abf44","group":"1722d6c0.c5b989","name":"LED3","order":5,"width":0,"height":0,"format":"<svg width=\"100\" height=\"80\">\n    <circle id=\"circle1\" cx=\"50\" cy=\"40\" r=\"30\" stroke={{msg.color}} fill=\"transparent\" stroke-width=\"5\"/>\n</svg>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":446.0173683166504,"y":285.0104160308838,"wires":[[]]},{"id":"fd25ed1e.aa6aa","type":"ui_switch","z":"7f81baa.08abf44","name":"","label":"switch","tooltip":"","group":"1722d6c0.c5b989","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":160.06942749023438,"y":133.10765647888184,"wires":[["5b86ba2e.66aa74"]]},{"id":"1722d6c0.c5b989","type":"ui_group","name":"Group 1","tab":"76e51cdf.b93f44","order":1,"disp":true,"width":6},{"id":"76e51cdf.b93f44","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]