5-2-3 mqtt step03 Chatting.txt
[{"id":"4c65861e.6f36f8","type":"mqtt out","z":"7f81baa.08abf44","name":"","topic":"outTopic_zxcvb12345","qos":"","retain":"","broker":"129593e0.7e203c","x":347.00003814697266,"y":110.00001525878906,"wires":[]},{"id":"bc9b174a.2f4d98","type":"mqtt in","z":"7f81baa.08abf44","name":"","topic":"outTopic_zxcvb12345","qos":"2","broker":"129593e0.7e203c","x":181.0000228881836,"y":187.00000286102295,"wires":[["57519b84.597c94"]]},{"id":"daaccc0.85e8f38","type":"comment","z":"7f81baa.08abf44","name":"MQTT 사용법 3 채팅프로그램","info":"","x":185.07986450195312,"y":38.204864501953125,"wires":[]},{"id":"ea27cdda.c5bfa","type":"ui_text_input","z":"7f81baa.08abf44","name":"","label":"","tooltip":"","group":"1722d6c0.c5b989","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":147.0763931274414,"y":109.00694847106934,"wires":[["4c65861e.6f36f8"]]},{"id":"57519b84.597c94","type":"ui_text","z":"7f81baa.08abf44","group":"1722d6c0.c5b989","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":366.0764389038086,"y":189.8784999847412,"wires":[]},{"id":"129593e0.7e203c","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"asdfasfsafasfsffdsd","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1722d6c0.c5b989","type":"ui_group","name":"Group 1","tab":"76e51cdf.b93f44","order":1,"disp":true,"width":6},{"id":"76e51cdf.b93f44","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]