5-5 시리얼 serial.txt
[{"id":"f4276481.e14f48","type":"serial in","z":"63124b77.0dd2b4","name":"COM7","serial":"acf9bb8e.2fd878","x":190,"y":615,"wires":[["5d0b00b.354a6"]]},{"id":"d82a04be.a3a908","type":"serial out","z":"63124b77.0dd2b4","name":"COM7","serial":"acf9bb8e.2fd878","x":352,"y":537,"wires":[]},{"id":"f5b8cccc.9436d","type":"inject","z":"63124b77.0dd2b4","name":"","topic":"kdi","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":209,"y":536,"wires":[["d82a04be.a3a908"]]},{"id":"5d0b00b.354a6","type":"debug","z":"63124b77.0dd2b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":359,"y":615,"wires":[]},{"id":"acf9bb8e.2fd878","type":"serial-port","z":"","serialport":"COM7","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"1000","bin":"false","out":"time","addchar":false}]