5-6-6-2 MongoDB Customizing Date Format .txt
[{"id":"e2f04b40.4dfd48","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"8027ba7.3926848","type":"mongodb2 in","z":"e2f04b40.4dfd48","service":"_ext_","configNode":"10f7f2f7.89451d","name":"등록","collection":"","operation":"","x":430,"y":100,"wires":[[]]},{"id":"e66e38b4.780d68","type":"inject","z":"e2f04b40.4dfd48","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":126.99996566772461,"y":97.0000228881836,"wires":[["7319dd3b.78b864"]]},{"id":"7319dd3b.78b864","type":"function","z":"e2f04b40.4dfd48","name":"시간세팅","func":"var time = new Date().toLocaleString('en-US', { timeZone: 'Asia/Seoul' });\nvar newMsg = {};\nnewMsg.collection = 'test';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload = [{ 'chip':'a'}, {$set:{ 'time':time}} ];\nreturn newMsg; \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":284.0104064941406,"y":99.68403816223145,"wires":[["8027ba7.3926848"]]},{"id":"9c8dca14.583ca8","type":"mongodb2 in","z":"e2f04b40.4dfd48","service":"_ext_","configNode":"10f7f2f7.89451d","name":"등록","collection":"","operation":"","x":440.9999694824219,"y":181.99999046325684,"wires":[["fbbb2eb4.0575e"]]},{"id":"a3bee498.b149c8","type":"function","z":"e2f04b40.4dfd48","name":"findone","func":"var newMsg = {};\nnewMsg.collection = 'test';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : 'a'};\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":288.9999694824219,"y":182.99999046325684,"wires":[["9c8dca14.583ca8"]]},{"id":"205027b.6a617d8","type":"inject","z":"e2f04b40.4dfd48","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120.06593322753906,"y":182.84029960632324,"wires":[["a3bee498.b149c8"]]},{"id":"fbbb2eb4.0575e","type":"function","z":"e2f04b40.4dfd48","name":"현재시간과 비교","func":"var ts = new Date(msg.payload.time);\n//var ps = new Date();\nvar ps = new Date('9/29/2019, 1:33:42 PM');\nif(ps>ts)\n    msg.payload=\"과거\";\nelse\n    msg.payload=\"미래\";\n//msg.payload=ts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":613.9999160766602,"y":182.0000171661377,"wires":[["15b695d8.fbd54a"]]},{"id":"15b695d8.fbd54a","type":"debug","z":"e2f04b40.4dfd48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":674.0590362548828,"y":252.43060970306396,"wires":[]},{"id":"10f7f2f7.89451d","type":"mongodb2","z":"","uri":"mongodb://localhost/admin","name":"admin","options":"","parallelism":"-1"}]