5-6-5 노드레드 조건문 , Node-RED Conditional.txt
[{"id":"df0d2a56.520628","type":"ui_slider","z":"70bed7bd.527408","name":"","label":"slider","group":"eae8b310.11741","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":10,"step":1,"x":121,"y":101,"wires":[["4585e073.82285"]]},{"id":"53d86bde.f84b64","type":"debug","z":"70bed7bd.527408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":509,"y":101,"wires":[]},{"id":"4585e073.82285","type":"function","z":"70bed7bd.527408","name":"Conditional","func":"if(msg.payload == 0)\n    msg.payload = \"영번을 선택했습니다.\";\nelse if(msg.payload == 1)\n    msg.payload = \"일번을 선택했습니다.\";\nelse if(msg.payload == 2)\n    msg.payload = \"이번을 선택했습니다.\";\nelse if(msg.payload == 3)\n    msg.payload = \"삼번을 선택했습니다.\";\nelse \n    msg.payload = \"기타 번호을 선택했습니다.\";\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":101,"wires":[["53d86bde.f84b64","7a924bae.905ae4"]]},{"id":"7a924bae.905ae4","type":"ui_audio","z":"70bed7bd.527408","name":"","group":"eae8b310.11741","voice":"","always":"","x":507,"y":156,"wires":[]},{"id":"eae8b310.11741","type":"ui_group","name":"Group 1","tab":"7fa231f1.70235","order":1,"disp":true,"width":6},{"id":"7fa231f1.70235","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]