5-6-7  진법, 다중출력, 엔코더, 디코더.txt
[{"id":"af9fa52e.4ab648","type":"ui_switch","z":"2cffe3aa.dec52c","name":"","label":"P40","tooltip":"","group":"b46a22c9.7af47","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":105.0173568725586,"y":332.0104064941406,"wires":[["7cc90135.b5915"]]},{"id":"3479784d.352688","type":"ui_switch","z":"2cffe3aa.dec52c","name":"","label":"P41","tooltip":"","group":"b46a22c9.7af47","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":105.01734924316406,"y":385.0104274749756,"wires":[["b54b690.d883e98"]]},{"id":"d63c229b.df27e","type":"ui_switch","z":"2cffe3aa.dec52c","name":"","label":"P42","tooltip":"","group":"b46a22c9.7af47","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":103.01734924316406,"y":445.0104274749756,"wires":[["42b2066b.1c6228"]]},{"id":"306c7da5.224042","type":"ui_switch","z":"2cffe3aa.dec52c","name":"","label":"P44","tooltip":"","group":"b46a22c9.7af47","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":102.01734924316406,"y":496.0104274749756,"wires":[["c0e77312.42e6b"]]},{"id":"7cc90135.b5915","type":"function","z":"2cffe3aa.dec52c","name":"","func":"global.set(\"out40\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":247.99774169921875,"y":333.00651454925537,"wires":[["598e6fb8.5d293"]]},{"id":"b54b690.d883e98","type":"function","z":"2cffe3aa.dec52c","name":"","func":"global.set(\"out41\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":246.99774169921875,"y":386.00651454925537,"wires":[["598e6fb8.5d293"]]},{"id":"42b2066b.1c6228","type":"function","z":"2cffe3aa.dec52c","name":"","func":"global.set(\"out42\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":248.99774169921875,"y":445.00651454925537,"wires":[["598e6fb8.5d293"]]},{"id":"c0e77312.42e6b","type":"function","z":"2cffe3aa.dec52c","name":"","func":"global.set(\"out43\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":256.99774169921875,"y":496.00651454925537,"wires":[["598e6fb8.5d293"]]},{"id":"598e6fb8.5d293","type":"function","z":"2cffe3aa.dec52c","name":"쓰기","func":"var p40=global.get(\"out40\")||0;\nvar p41=global.get(\"out41\")||0;\nvar p42=global.get(\"out42\")||0;\nvar p43=global.get(\"out43\")||0;\n\nvar command=p40+p41*2+p42*4+p43*8;\n\nvar msg2={},msg16={};\nmsg2.payload=command.toString(2);\nmsg.payload=command.toString(10);\nmsg16.payload=command.toString(16);\nreturn [msg2,msg,msg16];","outputs":3,"noerr":0,"x":417.01734161376953,"y":333.01041984558105,"wires":[["836fa19d.d77f2"],["51712294.f7e82c","68980268.137f5c"],["a608fe15.1c92d"]]},{"id":"836fa19d.d77f2","type":"ui_text","z":"2cffe3aa.dec52c","group":"b46a22c9.7af47","order":14,"width":0,"height":0,"name":"","label":"2진수 출력","format":"{{msg.payload}}","layout":"row-spread","x":593.0833282470703,"y":321.5902786254883,"wires":[]},{"id":"51712294.f7e82c","type":"ui_text","z":"2cffe3aa.dec52c","group":"b46a22c9.7af47","order":14,"width":0,"height":0,"name":"","label":"10진수 출력","format":"{{msg.payload}}","layout":"row-spread","x":595.017333984375,"y":365.0104064941406,"wires":[]},{"id":"a608fe15.1c92d","type":"ui_text","z":"2cffe3aa.dec52c","group":"b46a22c9.7af47","order":14,"width":0,"height":0,"name":"","label":"16진수 출력","format":"{{msg.payload}}","layout":"row-spread","x":594.017333984375,"y":412.0104064941406,"wires":[]},{"id":"1eed6c6d.040534","type":"ui_led","z":"2cffe3aa.dec52c","group":"b46a22c9.7af47","order":6,"label":"p00","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p00","x":561.0625114440918,"y":589.0104370117188,"wires":[]},{"id":"68980268.137f5c","type":"function","z":"2cffe3aa.dec52c","name":"2진수로 정리","func":"var dec=msg.payload;\nvar bin = parseInt(dec).toString(2);\nbin=\"000000\"+bin;\nbin = bin.slice(-6);\nmsg.payload=bin;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":605.1179914474487,"wires":[["cd42ad76.a2ae"]]},{"id":"cd42ad76.a2ae","type":"function","z":"2cffe3aa.dec52c","name":"","func":"var out=[];\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3],out[4],out[5]];\n","outputs":6,"noerr":0,"x":363.0555992126465,"y":622.9721851348877,"wires":[["1eed6c6d.040534"],["8691e847.0f9928"],["447c4e20.19e17"],["cd913a1f.2c6908"],["22e17556.f5a9aa"],["97de10f1.c472"]]},{"id":"8691e847.0f9928","type":"ui_led","z":"2cffe3aa.dec52c","group":"b46a22c9.7af47","order":7,"label":"p01","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p01","x":563.0000457763672,"y":631.1179733276367,"wires":[]},{"id":"447c4e20.19e17","type":"ui_led","z":"2cffe3aa.dec52c","group":"b46a22c9.7af47","order":8,"label":"p02","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p02","x":563.0000457763672,"y":671.1179733276367,"wires":[]},{"id":"cd913a1f.2c6908","type":"ui_led","z":"2cffe3aa.dec52c","group":"b46a22c9.7af47","order":9,"label":"p03","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p03","x":563.0000457763672,"y":710.1180038452148,"wires":[]},{"id":"22e17556.f5a9aa","type":"ui_led","z":"2cffe3aa.dec52c","group":"b46a22c9.7af47","order":10,"label":"p04","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p04","x":566.0000457763672,"y":749.1180038452148,"wires":[]},{"id":"97de10f1.c472","type":"ui_led","z":"2cffe3aa.dec52c","group":"b46a22c9.7af47","order":11,"label":"p05","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p05","x":565.0000457763672,"y":794.1180038452148,"wires":[]},{"id":"b46a22c9.7af47","type":"ui_group","z":"","name":"PLC Testing","tab":"2f2484b1.b0944c","disp":true,"width":"9","collapse":false},{"id":"2f2484b1.b0944c","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]