5-6-4 노드레드 랜덤함수 사용법, Node-RED random Function.txt
[{"id":"f1505acc.485e78","type":"inject","z":"70bed7bd.527408","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":163,"y":104,"wires":[["a393be67.cf603"]]},{"id":"90ddcdb8.fb96f","type":"debug","z":"70bed7bd.527408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":508,"y":103,"wires":[]},{"id":"a393be67.cf603","type":"function","z":"70bed7bd.527408","name":"Random","func":"rnd = Math.round(Math.random()*100);\nmsg.payload = rnd;\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":103,"wires":[["90ddcdb8.fb96f"]]}]