5-6-6-1 Timestamp & Date Format with MongoDB.txt
[{"id":"522ee017.e20c3","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"c441249b.6e53d8","type":"inject","z":"522ee017.e20c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":136.07293701171875,"y":300.9513854980469,"wires":[["9448d87.5e97428"]]},{"id":"d9acbc46.6dfe7","type":"debug","z":"522ee017.e20c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":458.0799102783203,"y":303.55556201934814,"wires":[]},{"id":"9448d87.5e97428","type":"function","z":"522ee017.e20c3","name":"시간세팅","func":"msg.payload = \"Thu Nov 28 2018 15:59:28 GMT+0900 (GMT+09:00)\";\nreturn msg;","outputs":1,"noerr":0,"x":293.08337783813477,"y":303.6354007720947,"wires":[["d9acbc46.6dfe7","60538f26.b9751"]]},{"id":"60538f26.b9751","type":"function","z":"522ee017.e20c3","name":"현재시간과 비교","func":"//var ts = Timestamp.valueOf(msg.payload);\nvar ts = new Date(msg.payload);\nvar ps = new Date();\nif(ps>ts)\n    msg.payload=\"과거\";\nelse\n    msg.payload=\"미래\";\nreturn msg;","outputs":1,"noerr":0,"x":439.072998046875,"y":364.8645763397217,"wires":[["83b0ad58.02a5f"]]},{"id":"83b0ad58.02a5f","type":"debug","z":"522ee017.e20c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620.0799331665039,"y":365.2152729034424,"wires":[]},{"id":"3e424e7f.a753b2","type":"mongodb2 in","z":"522ee017.e20c3","service":"_ext_","configNode":"c606ba2d.e9c6a8","name":"등록","collection":"","operation":"","x":447.0174102783203,"y":455.3437805175781,"wires":[[]]},{"id":"b7771b09.3bd578","type":"inject","z":"522ee017.e20c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":144.01737594604492,"y":452.3438034057617,"wires":[["fc942232.1dd29"]]},{"id":"fc942232.1dd29","type":"function","z":"522ee017.e20c3","name":"시간세팅","func":"// Create a Date object from the payload\nvar date = new Date();\nmsg.payload = date;\nmsg.payload = \"Thu Nov 28 2018 15:59:28 GMT+0900 (GMT+09:00)\";\nvar newMsg = {};\nnewMsg.collection = 'test';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload = [{ 'chip':'kdi6033@gmail.com'}, {$set:{ 'time':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":301.02781677246094,"y":455.02781867980957,"wires":[["3e424e7f.a753b2"]]},{"id":"8e7b108f.1a941","type":"mongodb2 in","z":"522ee017.e20c3","service":"_ext_","configNode":"c606ba2d.e9c6a8","name":"등록","collection":"","operation":"","x":458.0173797607422,"y":537.343770980835,"wires":[["c1d8dd47.db929"]]},{"id":"56f356ea.05ba98","type":"function","z":"522ee017.e20c3","name":"findone","func":"var newMsg = {};\nnewMsg.collection = 'test';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : 'kdi6033@gmail.com'};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":306.0173797607422,"y":538.343770980835,"wires":[["8e7b108f.1a941"]]},{"id":"470575f3.2fc91c","type":"inject","z":"522ee017.e20c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":137.08334350585938,"y":538.1840801239014,"wires":[["56f356ea.05ba98"]]},{"id":"c1d8dd47.db929","type":"function","z":"522ee017.e20c3","name":"현재시간과 비교","func":"var ts = new Date(msg.payload.time);\nvar ps = new Date();\nif(ps>ts)\n    msg.payload=\"과거\";\nelse\n    msg.payload=\"미래\";\n//msg.payload=ts;\nreturn msg;","outputs":1,"noerr":0,"x":631.0173263549805,"y":537.3437976837158,"wires":[["ae605375.85de7"]]},{"id":"ae605375.85de7","type":"debug","z":"522ee017.e20c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":691.0764465332031,"y":607.7743902206421,"wires":[]},{"id":"f667c821.476738","type":"inject","z":"522ee017.e20c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":133.06945037841797,"y":231.05908012390137,"wires":[["88542de1.85cc9"]]},{"id":"57ce19d0.998108","type":"debug","z":"522ee017.e20c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":502.0764961242676,"y":230.5591983795166,"wires":[]},{"id":"88542de1.85cc9","type":"function","z":"522ee017.e20c3","name":"시간표시 방법","func":"//var time= new Date()\");\nvar time= new Date(\"Thu Nov 28 2019 17:26:10 GMT+0900 (GMT+09:00)\");\nmsg.payload=time;\nreturn msg;","outputs":1,"noerr":0,"x":322.0833549499512,"y":230.41684341430664,"wires":[["57ce19d0.998108"]]},{"id":"c606ba2d.e9c6a8","type":"mongodb2","z":"","uri":"mongodb://54.244.168.99:27017/admin","name":"admin","options":"","parallelism":"-1"}]