5-6-2 챠트 사용법, Node RED Chart.txt
[{"id":"d7c1c1ba.45ad5","type":"ui_chart","z":"70bed7bd.527408","name":"","group":"eae8b310.11741","order":0,"width":0,"height":0,"label":"chart","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":653,"y":194,"wires":[[],[]]},{"id":"2a6f05f0.2e845a","type":"inject","z":"70bed7bd.527408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":119,"wires":[["9956fb73.004338"]]},{"id":"9956fb73.004338","type":"function","z":"70bed7bd.527408","name":"","func":"for(var i=0;i<100;i++)\n    node.send({payload:i});\nreturn msg;","outputs":1,"noerr":0,"x":272,"y":118,"wires":[["cdeff436.2ac2b8"]]},{"id":"cdeff436.2ac2b8","type":"delay","z":"70bed7bd.527408","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":458,"y":116,"wires":[["d7c1c1ba.45ad5","e38b447f.e9be98"]]},{"id":"e38b447f.e9be98","type":"debug","z":"70bed7bd.527408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":648,"y":117,"wires":[]},{"id":"eae8b310.11741","type":"ui_group","name":"Group 1","tab":"7fa231f1.70235","order":1,"disp":true,"width":6},{"id":"7fa231f1.70235","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]