5-6-6 Timestamp.txt
[{"id":"33ffa66f.d8031a","type":"debug","z":"2ba502da.2554fe","name":"","active":true,"complete":false,"x":521.9999961853027,"y":53.0000057220459,"wires":[]},{"id":"50ac8878.b5f278","type":"inject","z":"2ba502da.2554fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"","once":false,"x":152,"y":53.000006675720215,"wires":[["dc8b9188.40756"]]},{"id":"dc8b9188.40756","type":"function","z":"2ba502da.2554fe","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":331.00000762939453,"y":53.000006675720215,"wires":[["33ffa66f.d8031a"]]},{"id":"ec44a52e.c9c3c8","type":"ui_date_picker","z":"2ba502da.2554fe","name":"","label":"date","group":"c3f0ec12.832b2","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":119.06943893432617,"y":253.46527194976807,"wires":[["bb5a4480.164708"]]},{"id":"14c650a9.36854f","type":"debug","z":"2ba502da.2554fe","name":"output","active":true,"console":"false","complete":"true","x":625.0173149108887,"y":254.01041793823242,"wires":[]},{"id":"415e00e2.c1552","type":"function","z":"2ba502da.2554fe","name":"timeConvert","func":"msg.payload = global.get(\"date\") ||  Math.round(+new Date());\nvar hour=global.get(\"hour\") || 0;\nvar minute=global.get(\"minute\") || 0;\nif ( !msg.payload ) msg.payload = Math.round(+new Date());\n\nvar dt = new Date(msg.payload);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\thour,\n\t'mins':\t\tminute,\n\t'msecs':\t0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":472.0173149108887,"y":254.010404586792,"wires":[["14c650a9.36854f"]]},{"id":"990a20f5.6e3a5","type":"ui_numeric","z":"2ba502da.2554fe","name":"","label":"½Ã","tooltip":"","group":"c3f0ec12.832b2","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":118.08331680297852,"y":299.42015075683594,"wires":[["24b817e0.74da28"]]},{"id":"9e3d9231.264ef","type":"ui_numeric","z":"2ba502da.2554fe","name":"","label":"ºÐ","tooltip":"","group":"c3f0ec12.832b2","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"59","step":1,"x":122.0173454284668,"y":350.01041412353516,"wires":[["7f291815.3824f8"]]},{"id":"bb5a4480.164708","type":"function","z":"2ba502da.2554fe","name":"global","func":"global.set(\"date\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":252.06942749023438,"y":253.52778482437134,"wires":[["415e00e2.c1552"]]},{"id":"24b817e0.74da28","type":"function","z":"2ba502da.2554fe","name":"global","func":"global.set(\"hour\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":254.01734924316406,"y":301.0104064941406,"wires":[["415e00e2.c1552"]]},{"id":"7f291815.3824f8","type":"function","z":"2ba502da.2554fe","name":"global","func":"global.set(\"minute\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":256.0173568725586,"y":351.0104007720947,"wires":[["415e00e2.c1552"]]},{"id":"2a5ca558.13befa","type":"inject","z":"2ba502da.2554fe","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":136.01734924316406,"y":197.0104217529297,"wires":[["7a0a241f.528edc"]]},{"id":"70807e94.c8683","type":"debug","z":"2ba502da.2554fe","name":"output","active":true,"console":"false","complete":"true","x":679.0173187255859,"y":125.010422706604,"wires":[]},{"id":"5ec2cbf.5bc7e34","type":"function","z":"2ba502da.2554fe","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":532.0173492431641,"y":125.01042175292969,"wires":[["70807e94.c8683"]]},{"id":"7a0a241f.528edc","type":"function","z":"2ba502da.2554fe","name":"set timestamp","func":"msg.timestamp=1537843118153;\nreturn msg;","outputs":1,"noerr":0,"x":320.01734924316406,"y":197.0104217529297,"wires":[["5ec2cbf.5bc7e34"]]},{"id":"7863f60f.931e88","type":"inject","z":"2ba502da.2554fe","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":136.01734924316406,"y":125.01042175292969,"wires":[["5ec2cbf.5bc7e34"]]},{"id":"c3f0ec12.832b2","type":"ui_group","name":"Group 1","tab":"2ada035f.b6a36c","order":1,"disp":true,"width":6},{"id":"2ada035f.b6a36c","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]