5-6-3 수학함수 사용법, Node-RED Mathmatics Function.txt
[{"id":"5c681c98.b98da4","type":"function","z":"70bed7bd.527408","name":"operators","func":"msg.payload = Math.sqrt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":108,"wires":[["b2c45543.b13f08"]]},{"id":"96d77e95.c93b6","type":"ui_numeric","z":"70bed7bd.527408","name":"","label":"numeric","group":"eae8b310.11741","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":173,"y":109,"wires":[["5c681c98.b98da4"]]},{"id":"b2c45543.b13f08","type":"ui_text","z":"70bed7bd.527408","group":"eae8b310.11741","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":496,"y":109,"wires":[]},{"id":"eae8b310.11741","type":"ui_group","name":"Group 1","tab":"7fa231f1.70235","order":1,"disp":true,"width":6},{"id":"7fa231f1.70235","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]