5-6-7  진법, 다중출력, 엔코더, 디코더.txt
[{"id":"fcab1d25.7a94b","type":"ui_switch","z":"3c5d123.7da9aee","name":"","label":"P40","tooltip":"","group":"e6a4abd6.bbd0e8","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":108.0173568725586,"y":71.01041507720947,"wires":[["c90e2b8c.5c3e28"]]},{"id":"9005d9c8.a5bbf8","type":"ui_switch","z":"3c5d123.7da9aee","name":"","label":"P41","tooltip":"","group":"e6a4abd6.bbd0e8","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":108.01734924316406,"y":124.01043605804443,"wires":[["69c3c0ab.d5984"]]},{"id":"fa4ed12d.c5f89","type":"ui_switch","z":"3c5d123.7da9aee","name":"","label":"P42","tooltip":"","group":"e6a4abd6.bbd0e8","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":106.01734924316406,"y":184.01043605804443,"wires":[["65809d8b.34cd04"]]},{"id":"f5525b3e.3d7b28","type":"ui_switch","z":"3c5d123.7da9aee","name":"","label":"P43","tooltip":"","group":"e6a4abd6.bbd0e8","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":105.01734924316406,"y":235.01043605804443,"wires":[["1f714627.44c92a"]]},{"id":"c90e2b8c.5c3e28","type":"function","z":"3c5d123.7da9aee","name":"to global variable","func":"global.set(\"out40\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":274.9977493286133,"y":70.00654888153076,"wires":[["fc46010d.7389b"]]},{"id":"69c3c0ab.d5984","type":"function","z":"3c5d123.7da9aee","name":"to global variable","func":"global.set(\"out41\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":273.9977493286133,"y":123.00654888153076,"wires":[["fc46010d.7389b"]]},{"id":"65809d8b.34cd04","type":"function","z":"3c5d123.7da9aee","name":"to global variable","func":"global.set(\"out42\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":275.9977493286133,"y":182.00654888153076,"wires":[["fc46010d.7389b"]]},{"id":"1f714627.44c92a","type":"function","z":"3c5d123.7da9aee","name":"to global variable","func":"global.set(\"out43\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":270.9977722167969,"y":233.00655555725098,"wires":[["fc46010d.7389b"]]},{"id":"fc46010d.7389b","type":"function","z":"3c5d123.7da9aee","name":"encorder","func":"var p40=global.get(\"out40\")||0;\nvar p41=global.get(\"out41\")||0;\nvar p42=global.get(\"out42\")||0;\nvar p43=global.get(\"out43\")||0;\n\nvar command=p40+p41*2+p42*4+p43*8;\n\nvar msg2={},msg16={};\nmsg2.payload=command.toString(2);\nmsg.payload=command.toString(10);\nmsg16.payload=command.toString(16);\nreturn [msg2,msg,msg16];","outputs":3,"noerr":0,"x":489.01734161376953,"y":73.01043128967285,"wires":[["34de2fb0.9d541"],["ddeba8f9.00add8","247c48bb.288ed8"],["2b55c4dd.bb3e6c"]]},{"id":"34de2fb0.9d541","type":"ui_text","z":"3c5d123.7da9aee","group":"e6a4abd6.bbd0e8","order":5,"width":0,"height":0,"name":"","label":"2진수 출력","format":"{{msg.payload}}","layout":"row-spread","x":655.0833282470703,"y":61.59029006958008,"wires":[]},{"id":"ddeba8f9.00add8","type":"ui_text","z":"3c5d123.7da9aee","group":"e6a4abd6.bbd0e8","order":6,"width":0,"height":0,"name":"","label":"10진수 출력","format":"{{msg.payload}}","layout":"row-spread","x":657.017333984375,"y":105.01041793823242,"wires":[]},{"id":"2b55c4dd.bb3e6c","type":"ui_text","z":"3c5d123.7da9aee","group":"e6a4abd6.bbd0e8","order":7,"width":0,"height":0,"name":"","label":"16진수 출력","format":"{{msg.payload}}","layout":"row-spread","x":656.017333984375,"y":152.01041793823242,"wires":[]},{"id":"520f354a.10353c","type":"ui_led","z":"3c5d123.7da9aee","group":"e6a4abd6.bbd0e8","order":8,"label":"p00","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p00","x":665.0625686645508,"y":329.01045417785645,"wires":[]},{"id":"247c48bb.288ed8","type":"function","z":"3c5d123.7da9aee","name":"2진수로 정리","func":"var dec=msg.payload;\nvar bin = parseInt(dec).toString(2);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nmsg.payload=bin;\nreturn msg;","outputs":1,"noerr":0,"x":318.00001525878906,"y":362.11801052093506,"wires":[["392d989f.848f18"]]},{"id":"392d989f.848f18","type":"function","z":"3c5d123.7da9aee","name":"decorder","func":"var out=[];\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3]];\n","outputs":4,"noerr":0,"x":477.05565643310547,"y":362.9722023010254,"wires":[["520f354a.10353c"],["7a8356d0.2a8d38"],["f2aa7562.168b78"],["f1e79af3.ac1348"]]},{"id":"7a8356d0.2a8d38","type":"ui_led","z":"3c5d123.7da9aee","group":"e6a4abd6.bbd0e8","order":9,"label":"p01","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p01","x":667.0001029968262,"y":371.1179904937744,"wires":[]},{"id":"f2aa7562.168b78","type":"ui_led","z":"3c5d123.7da9aee","group":"e6a4abd6.bbd0e8","order":10,"label":"p02","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p02","x":667.0001029968262,"y":411.1179904937744,"wires":[]},{"id":"f1e79af3.ac1348","type":"ui_led","z":"3c5d123.7da9aee","group":"e6a4abd6.bbd0e8","order":11,"label":"p03","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p03","x":667.0001029968262,"y":450.11802101135254,"wires":[]},{"id":"e6a4abd6.bbd0e8","type":"ui_group","z":"","name":"PLC Testing","tab":"88b41e35.c674e","disp":true,"width":"9","collapse":false},{"id":"88b41e35.c674e","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]