5-6-10 node red custom icon & button.txt
[{"id":"92a9d67f.6bc728","type":"ui_button","z":"3df6993.ef33366","name":"","group":"fc5f4fb0.c225d","order":0,"width":0,"height":0,"passthru":false,"label":"{{msg.payload.l}}","tooltip":"","color":"{{msg.payload.c}}","bgcolor":"{{msg.payload.b}}","icon":"alarm","payload":"","payloadType":"str","topic":"","x":370,"y":100,"wires":[[]]},{"id":"77afceff.fc341","type":"inject","z":"3df6993.ef33366","name":"","topic":"","payload":"{\"l\":\"켜짐\",\"c\":\"red\",\"b\":\"yellow\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["92a9d67f.6bc728"]]},{"id":"847175c6.cb3328","type":"inject","z":"3df6993.ef33366","name":"","topic":"","payload":"{\"l\":\"켜짐\",\"c\":\"red\",\"b\":\"gray\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["92a9d67f.6bc728"]]},{"id":"c55883b2.c6a86","type":"ui_switch","z":"3df6993.ef33366","name":"","label":"switch","tooltip":"","group":"fc5f4fb0.c225d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"favorite","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"favorite","offcolor":"grey","x":370,"y":160,"wires":[[]]},{"id":"7a9ea1bb.ea0f9","type":"ui_template","z":"3df6993.ef33366","group":"fc5f4fb0.c225d","name":"ui_template","order":2,"width":"5","height":"5","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"wi wi-darksky-thunderstorm wi-4x wi-rotate-270\" style=\"color:red;\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":330,"y":220,"wires":[[]]},{"id":"a8ccbc67.d4bbc","type":"inject","z":"3df6993.ef33366","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":220,"wires":[["7a9ea1bb.ea0f9"]]},{"id":"13a2a6aa.d13ce9","type":"ui_template","z":"3df6993.ef33366","group":"fc5f4fb0.c225d","name":"ui_template","order":2,"width":"5","height":"5","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"wi wi-darksky-snow wi-4x wi-rotate-270\" style=\"color:red;\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":330,"y":280,"wires":[[]]},{"id":"adb4efd5.423bb","type":"inject","z":"3df6993.ef33366","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":280,"wires":[["13a2a6aa.d13ce9"]]},{"id":"5df07107.fa8c8","type":"ui_button","z":"3df6993.ef33366","name":"circle","group":"fc5f4fb0.c225d","order":0,"width":0,"height":0,"passthru":false,"label":"refreshing","tooltip":"","color":"","bgcolor":"","icon":"fa-circle-o-notch fa-spin","payload":"","payloadType":"str","topic":"","x":150,"y":340,"wires":[[]]},{"id":"17889234.bee1ce","type":"ui_switch","z":"3df6993.ef33366","name":"","label":"UP","tooltip":"","group":"fc5f4fb0.c225d","order":0,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-refresh fa-spin","oncolor":"lime","offvalue":"false","offvalueType":"bool","officon":"fa-arrow-circle-down","offcolor":"yellow","x":610,"y":100,"wires":[[]]},{"id":"920db5f3.303d98","type":"ui_switch","z":"3df6993.ef33366","name":"","label":"Down","tooltip":"","group":"fc5f4fb0.c225d","order":0,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-refresh fa-spin","oncolor":"lime","offvalue":"false","offvalueType":"bool","officon":"fa-arrow-circle-up","offcolor":"yellow","x":611.8999977111816,"y":167.99999523162842,"wires":[[]]},{"id":"fc5f4fb0.c225d","type":"ui_group","name":"Group 1","tab":"27537f6e.2bafd","order":1,"disp":true,"width":6},{"id":"27537f6e.2bafd","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3}]