5-7-1 MongoDb2, Robo 3T 기초함수 사용법.txt
[{"id":"7de1b292.7fcb6c","type":"mongodb2 in","z":"e0b4c767.fe9de8","service":"_ext_","configNode":"12e86c91.be2ed3","name":"","collection":"data","operation":"","x":843.0799293518066,"y":141.7986297607422,"wires":[["c7bbd66f.9af518"]]},{"id":"e0730dfe.14114","type":"inject","z":"e0b4c767.fe9de8","name":"","topic":"","payload":"{\"name\":\"cc\", \"power\":1}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":452.0799140930176,"y":143.97224807739258,"wires":[["99a732b7.d3af9"]]},{"id":"c7bbd66f.9af518","type":"debug","z":"e0b4c767.fe9de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1018.083309173584,"y":145.5694932937622,"wires":[]},{"id":"99a732b7.d3af9","type":"function","z":"e0b4c767.fe9de8","name":"insert","func":"var newMsg = {};\nnewMsg.collection = 'data';\n//newMsg.operation  = 'deleteOne';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { \"name\" : \"d\" , \"power\" : 1 };\nreturn newMsg;","outputs":1,"noerr":0,"x":582.0833702087402,"y":144.30903339385986,"wires":[["7de1b292.7fcb6c"]]},{"id":"3becbcaa.ca2564","type":"function","z":"e0b4c767.fe9de8","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'db';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'name' : 'b'};\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":609.0173835754395,"y":197.0104055404663,"wires":[["7de1b292.7fcb6c"]]},{"id":"6325af3.d94d15","type":"inject","z":"e0b4c767.fe9de8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":459.07290267944336,"y":197.9687614440918,"wires":[["3becbcaa.ca2564"]]},{"id":"773587cf.ba1b88","type":"function","z":"e0b4c767.fe9de8","name":"find.toArray","func":"var newMsg = {};\nnewMsg.collection = 'data';\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = { 'power' : 1 };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":619.0173606872559,"y":255.01043701171875,"wires":[["7de1b292.7fcb6c"]]},{"id":"3b67bd7d.a27f52","type":"inject","z":"e0b4c767.fe9de8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":459.01733779907227,"y":255.01042652130127,"wires":[["773587cf.ba1b88"]]},{"id":"5cff5f33.9471b","type":"inject","z":"e0b4c767.fe9de8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":471.0172996520996,"y":469.0104274749756,"wires":[["7c7591e.c09da7"]]},{"id":"7c7591e.c09da7","type":"mongodb2 in","z":"e0b4c767.fe9de8","service":"_ext_","configNode":"12e86c91.be2ed3","name":"","collection":"data","operation":"aggregate.toArray","x":676.0173377990723,"y":469.010498046875,"wires":[["77763a8.9be1ec4"]]},{"id":"9acd2538.fd1aa8","type":"debug","z":"e0b4c767.fe9de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1112.017276763916,"y":470.0104875564575,"wires":[]},{"id":"62a38ba1.f82214","type":"mongodb2 in","z":"e0b4c767.fe9de8","service":"_ext_","configNode":"12e86c91.be2ed3","name":"","collection":"data","operation":"count","x":645.0173835754395,"y":421.01045632362366,"wires":[["69c000cb.5ee16"]]},{"id":"69c000cb.5ee16","type":"debug","z":"e0b4c767.fe9de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":835.0799293518066,"y":420.56956577301025,"wires":[]},{"id":"f2f654a9.6534b8","type":"inject","z":"e0b4c767.fe9de8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":474.0173454284668,"y":422.0104727745056,"wires":[["62a38ba1.f82214"]]},{"id":"c77f77fa.0f8c68","type":"function","z":"e0b4c767.fe9de8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'dataM';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'name' : 'a'}, {$set:{ 'power':1}} ];\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":635.0173530578613,"y":324.01041984558105,"wires":[["7de1b292.7fcb6c"]]},{"id":"46cfb326.824f5c","type":"inject","z":"e0b4c767.fe9de8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":461.01733016967773,"y":323.0104103088379,"wires":[["c77f77fa.0f8c68"]]},{"id":"77763a8.9be1ec4","type":"function","z":"e0b4c767.fe9de8","name":"get names as a list","func":"// Combines into a single list (or array)\nvar newMsg =[];\nfor (var i = 0; i < msg.payload.length; i++) {\n//newMsg.push({name:  msg.payload[i].name } ) };\nnewMsg.push(msg.payload[i].name ) };\nmsg.payload = newMsg;\nreturn  msg;\n","outputs":1,"noerr":0,"x":915.0173072814941,"y":469.01042461395264,"wires":[["9acd2538.fd1aa8"]]},{"id":"bd9a846e.c72968","type":"comment","z":"e0b4c767.fe9de8","name":"https://flows.nodered.org/flow/1720dd23b48efb0ffc5b","info":"https://www.compose.com/articles/","x":566.0173454284668,"y":102.01041889190674,"wires":[]},{"id":"12e86c91.be2ed3","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/db","name":"db","options":"","parallelism":""}]