5-8 Ui Control.txt
[{"id":"a5593908.d6bab8","type":"ui_switch","z":"a50de0ea.6ec7a","name":"","label":"Tab2 Group1","tooltip":"","group":"c913e1e6.2f1be","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170.07291412353516,"y":188.67711067199707,"wires":[["8bc62d0b.cab7"]]},{"id":"f94a485a.1553f8","type":"ui_switch","z":"a50de0ea.6ec7a","name":"","label":"switch","tooltip":"","group":"1c14dca8.861663","order":1,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":419.01730728149414,"y":114.01044845581055,"wires":[["5f075b7d.cb4e74"]]},{"id":"5f075b7d.cb4e74","type":"ui_led","z":"a50de0ea.6ec7a","group":"1c14dca8.861663","order":2,"width":"3","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"","x":545.0173225402832,"y":114.10768985748291,"wires":[]},{"id":"fc6fcd2e.0e6c3","type":"ui_switch","z":"a50de0ea.6ec7a","name":"","label":"switch","tooltip":"","group":"5b63cb04.1920c4","order":1,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":147.0173454284668,"y":115.01043510437012,"wires":[["2c5e6b9f.40c054"]]},{"id":"2c5e6b9f.40c054","type":"ui_led","z":"a50de0ea.6ec7a","group":"5b63cb04.1920c4","order":2,"width":"3","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"","x":272.0173454284668,"y":115.1076831817627,"wires":[]},{"id":"8bc62d0b.cab7","type":"function","z":"a50de0ea.6ec7a","name":"hide Tab2-Group1","func":"if(msg.payload==true)\n    msg.payload={\"group\":{\"hide\":[\"Tab_2_Group_1\"]}};\nelse\n    msg.payload={\"group\":{\"show\":[\"Tab_2_Group_1\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":357.0694923400879,"y":188.68056201934814,"wires":[["5a1947fd.876aa8"]]},{"id":"5a1947fd.876aa8","type":"ui_ui_control","z":"a50de0ea.6ec7a","name":"","x":544.083324432373,"y":188.24999904632568,"wires":[[]]},{"id":"9f2956e8.f56fc8","type":"function","z":"a50de0ea.6ec7a","name":"hide Tab2-Group1","func":"if(msg.payload==true)\n    msg.payload={\"tabs\":{\"hide\":[\"Tab_2\"]}};\nelse\n    msg.payload={\"tabs\":{\"show\":[\"Tab_2\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":358.0173645019531,"y":237.01040649414062,"wires":[["5a1947fd.876aa8"]]},{"id":"abb576ec.c54e18","type":"ui_switch","z":"a50de0ea.6ec7a","name":"","label":"Tab2 ","tooltip":"","group":"c913e1e6.2f1be","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":154.01734924316406,"y":238.01040649414062,"wires":[["9f2956e8.f56fc8"]]},{"id":"c913e1e6.2f1be","type":"ui_group","name":"Group 1","tab":"42cb0f78.358cc","order":1,"disp":true,"width":6},{"id":"1c14dca8.861663","type":"ui_group","name":"Group 2","tab":"a29b6b09.b7bf68","order":2,"disp":true,"width":6},{"id":"5b63cb04.1920c4","type":"ui_group","name":"Group 1","tab":"a29b6b09.b7bf68","order":1,"disp":true,"width":6},{"id":"42cb0f78.358cc","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"a29b6b09.b7bf68","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]