5-8 Ui Control.txt
[{"id":"a5593908.d6bab8","type":"ui_switch","z":"a50de0ea.6ec7a","name":"","label":"switch","tooltip":"","group":"c913e1e6.2f1be","order":1,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":149.07291793823242,"y":65.67709922790527,"wires":[["dc8eef2.3eec01"]]},{"id":"dc8eef2.3eec01","type":"ui_led","z":"a50de0ea.6ec7a","group":"c913e1e6.2f1be","order":2,"width":"3","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"","x":273.0729446411133,"y":65.77433395385742,"wires":[]},{"id":"f94a485a.1553f8","type":"ui_switch","z":"a50de0ea.6ec7a","name":"","label":"switch","tooltip":"","group":"1c14dca8.861663","order":1,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":419.01730728149414,"y":114.01044845581055,"wires":[["5f075b7d.cb4e74"]]},{"id":"5f075b7d.cb4e74","type":"ui_led","z":"a50de0ea.6ec7a","group":"1c14dca8.861663","order":2,"width":"3","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"","x":545.0173225402832,"y":114.10768985748291,"wires":[]},{"id":"fc6fcd2e.0e6c3","type":"ui_switch","z":"a50de0ea.6ec7a","name":"","label":"switch","tooltip":"","group":"5b63cb04.1920c4","order":1,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":147.0173454284668,"y":115.01043510437012,"wires":[["2c5e6b9f.40c054"]]},{"id":"2c5e6b9f.40c054","type":"ui_led","z":"a50de0ea.6ec7a","group":"5b63cb04.1920c4","order":2,"width":"3","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"","x":272.0173454284668,"y":115.1076831817627,"wires":[]},{"id":"8bc62d0b.cab7","type":"function","z":"a50de0ea.6ec7a","name":"hide Tab2-Group1","func":"msg.payload={\"group\":{\"hide\":[\"Tab_2_Group_1\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":357.0694923400879,"y":170.68056201934814,"wires":[["5a1947fd.876aa8"]]},{"id":"28070395.53bbac","type":"inject","z":"a50de0ea.6ec7a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":173.07293701171875,"y":170.96183681488037,"wires":[["8bc62d0b.cab7"]]},{"id":"5a1947fd.876aa8","type":"ui_ui_control","z":"a50de0ea.6ec7a","name":"","x":544.083324432373,"y":170.24999904632568,"wires":[[]]},{"id":"3ca2c6c6.75801a","type":"function","z":"a50de0ea.6ec7a","name":"show Tab2-Group1","func":"msg.payload={\"group\":{\"show\":[\"Tab_2_Group_1\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":358.0173797607422,"y":227.01041316986084,"wires":[["ab1d6a09.294508"]]},{"id":"93d5ca6c.7dd3a8","type":"inject","z":"a50de0ea.6ec7a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":174.02082443237305,"y":227.29168796539307,"wires":[["3ca2c6c6.75801a"]]},{"id":"ab1d6a09.294508","type":"ui_ui_control","z":"a50de0ea.6ec7a","name":"","x":550.0312042236328,"y":226.57985591888428,"wires":[[]]},{"id":"4552c27f.93f45c","type":"function","z":"a50de0ea.6ec7a","name":"hide Tab2","func":"msg.payload={\"tabs\":{\"hide\":[\"Tab_2\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":327.01736068725586,"y":292.01041984558105,"wires":[["d7180050.c6856"]]},{"id":"ba047319.a2334","type":"inject","z":"a50de0ea.6ec7a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":173.02080535888672,"y":292.2916946411133,"wires":[["4552c27f.93f45c"]]},{"id":"d7180050.c6856","type":"ui_ui_control","z":"a50de0ea.6ec7a","name":"","x":502.0312042236328,"y":291.5798635482788,"wires":[[]]},{"id":"61946c19.aebf64","type":"function","z":"a50de0ea.6ec7a","name":"show Tab2","func":"msg.payload={\"tabs\":{\"show\":[\"Tab_2\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":337.96524810791016,"y":348.34027099609375,"wires":[["55aa7935.542b18"]]},{"id":"ae6a9832.1ef3a8","type":"inject","z":"a50de0ea.6ec7a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":173.96869277954102,"y":348.621545791626,"wires":[["61946c19.aebf64"]]},{"id":"55aa7935.542b18","type":"ui_ui_control","z":"a50de0ea.6ec7a","name":"","x":502.9790916442871,"y":347.9097146987915,"wires":[[]]},{"id":"c913e1e6.2f1be","type":"ui_group","name":"Group 1","tab":"42cb0f78.358cc","order":1,"disp":true,"width":6},{"id":"1c14dca8.861663","type":"ui_group","name":"Group 2","tab":"a29b6b09.b7bf68","order":2,"disp":true,"width":6},{"id":"5b63cb04.1920c4","type":"ui_group","name":"Group 1","tab":"a29b6b09.b7bf68","order":1,"disp":true,"width":6},{"id":"42cb0f78.358cc","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"a29b6b09.b7bf68","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]