5-8-1 Ui Control (2).txt
[{"id":"345213d0.ec0a1c","type":"ui_slider","z":"c08a4773.ef7c58","name":"","label":"slider","tooltip":"","group":"29732ca1.aa10a4","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"2","step":1,"x":150,"y":100,"wires":[["c08fe2d0.3c74e"]]},{"id":"c08fe2d0.3c74e","type":"function","z":"c08a4773.ef7c58","name":"","func":"var newMsg={};\nif(msg.payload==0) \n    newMsg.payload=\"{\\\"gpio38\\\":1,\\\"gpio40\\\":0}\";\nelse if(msg.payload==1) \n    newMsg.payload=\"{\\\"gpio38\\\":0,\\\"gpio40\\\":1}\";\nelse if(msg.payload==2) \n    newMsg.payload=\"{\\\"gpio38\\\":1,\\\"gpio40\\\":1}\";\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":100,"wires":[["b6e3f39e.b6137"]]},{"id":"8335b385.3d012","type":"ui_led","z":"c08a4773.ef7c58","group":"29732ca1.aa10a4","order":1,"width":0,"height":0,"label":"gpio38","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"gpio38","x":710,"y":80,"wires":[]},{"id":"873a67bc.f266e8","type":"ui_led","z":"c08a4773.ef7c58","group":"29732ca1.aa10a4","order":1,"width":0,"height":0,"label":"gpio40","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"gpio40","x":710,"y":160,"wires":[]},{"id":"b6e3f39e.b6137","type":"json","z":"c08a4773.ef7c58","name":"","property":"payload","action":"","pretty":false,"x":410,"y":100,"wires":[["e7d36678.1c2518"]]},{"id":"e7d36678.1c2518","type":"function","z":"c08a4773.ef7c58","name":"","func":"var out=[];\nout.push({payload:msg.payload.gpio38});\nout.push({payload:msg.payload.gpio40});\nreturn [out[0],out[1]];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":560,"y":100,"wires":[["8335b385.3d012"],["873a67bc.f266e8"]]},{"id":"608c2615.560bd8","type":"comment","z":"c08a4773.ef7c58","name":"작동설명","info":"스위치를 on에 놓으면 gpio38이 켜지고 gpio40이 꺼지고  off에 놓으면 gpio40이 켜지고  gpio38은 꺼집니다. 가운데를 놓으면 gpio38과 gpio40은 모두 꺼집니다.","x":160,"y":160,"wires":[]},{"id":"29732ca1.aa10a4","type":"ui_group","z":"","name":"T1","tab":"edc12181.f76fe","order":1,"disp":true,"width":"6","collapse":false},{"id":"edc12181.f76fe","type":"ui_tab","z":"","name":"LAB","icon":"dashboard"}]