5-9 Membership Management.txt
[{"id":"58c0b07d.b6d9e","type":"ui_text_input","z":"1670a34e.fad20d","name":"","label":"ID(E-mail)","tooltip":"","group":"f58862b0.3d771","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":160,"y":60,"wires":[["8b264f15.72a6e"]]},{"id":"79194bf6.e8eee4","type":"mongodb2 in","z":"1670a34e.fad20d","service":"_ext_","configNode":"16165e91.4d8e01","name":"","collection":"","operation":"","x":490,"y":167,"wires":[["90716a80.b9d7e8"]]},{"id":"d758b817.862d08","type":"function","z":"1670a34e.fad20d","name":"findOne","func":"var email=global.get(\"email\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'email' : email};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":340,"y":167,"wires":[["79194bf6.e8eee4"]]},{"id":"4efd98f1.309148","type":"ui_button","z":"1670a34e.fad20d","name":"","group":"f58862b0.3d771","order":4,"width":0,"height":0,"passthru":false,"label":"로그인(Log in)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":167,"wires":[["d758b817.862d08"]]},{"id":"8b264f15.72a6e","type":"function","z":"1670a34e.fad20d","name":"global","func":"global.set(\"email\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":60,"wires":[[]]},{"id":"90716a80.b9d7e8","type":"switch","z":"1670a34e.fad20d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":167,"wires":[["235b96a.5cbc26a"],["b9296ca8.73ab6"]]},{"id":"3721062d.4a1b7a","type":"function","z":"1670a34e.fad20d","name":"insert one","func":"var email=global.get(\"email\")||\"\";\nvar pw= Math.round(Math.random()*1000000);\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { 'email' : email, 'pw':pw };\nreturn newMsg;","outputs":1,"noerr":0,"x":740,"y":267,"wires":[["ec6ad9d.bbe9328","c5749047.753d8"]]},{"id":"ec6ad9d.bbe9328","type":"mongodb2 in","z":"1670a34e.fad20d","service":"_ext_","configNode":"16165e91.4d8e01","name":"","collection":"","operation":"","x":890,"y":267,"wires":[[]]},{"id":"f87183a3.2b7cf","type":"ui_text","z":"1670a34e.fad20d","group":"f58862b0.3d771","order":1,"width":0,"height":0,"name":"","label":"알림","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":161,"wires":[]},{"id":"f5adc119.d83a1","type":"ui_text_input","z":"1670a34e.fad20d","name":"","label":"PW(비밀번호)","tooltip":"","group":"f58862b0.3d771","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":180,"y":109,"wires":[["1c86d568.ca56db"]]},{"id":"1c86d568.ca56db","type":"function","z":"1670a34e.fad20d","name":"global","func":"global.set(\"pw\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":109,"wires":[[]]},{"id":"16e1f284.75d8dd","type":"ui_button","z":"1670a34e.fad20d","name":"","group":"f58862b0.3d771","order":4,"width":0,"height":0,"passthru":false,"label":"회원가입 또는 임시 pw 전송","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":267,"wires":[["b36b30fb.6577c"]]},{"id":"b9296ca8.73ab6","type":"function","z":"1670a34e.fad20d","name":"ID 존재","func":"var pw=global.get(\"pw\")||\"\";\nif(msg.payload.pw==pw) {\n    msg.payload=\"로그인 환영합니다.\";\n    return [msg,null];\n}\nelse {\n    msg.payload=\"pw 일치하지 않습니다. 회원가입 또는 pw 변경을  눌러주세요.\";\n    return [null,msg];\n}    \n//return msg;\n\n","outputs":2,"noerr":0,"x":800,"y":207,"wires":[["f87183a3.2b7cf","812faa5f.49f958"],["f87183a3.2b7cf","78762e3a.c4cc4"]]},{"id":"235b96a.5cbc26a","type":"function","z":"1670a34e.fad20d","name":"ID 없음","func":"msg.payload=\"ID가 존재하지않습니다. 아래 회원가입을 누르세요\";\nreturn msg;","outputs":1,"noerr":0,"x":796,"y":160,"wires":[["f87183a3.2b7cf","78762e3a.c4cc4"]]},{"id":"c11828cf.ec3958","type":"e-mail","z":"1670a34e.fad20d","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":890,"y":327,"wires":[]},{"id":"dbea1b8d.1f7278","type":"mongodb2 in","z":"1670a34e.fad20d","service":"_ext_","configNode":"16165e91.4d8e01","name":"","collection":"","operation":"","x":592,"y":267,"wires":[["3721062d.4a1b7a"]]},{"id":"b36b30fb.6577c","type":"function","z":"1670a34e.fad20d","name":"deleteMany","func":"var email=global.get(\"email\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'deleteMany';\n//newMsg.operation  = 'deleteOne';\nnewMsg.payload    = { 'email' : email};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":450,"y":267,"wires":[["dbea1b8d.1f7278"]]},{"id":"c5749047.753d8","type":"function","z":"1670a34e.fad20d","name":"write email","func":"var email=global.get(\"email\")||\"\";\nmsg.to=email;\nmsg.payload=\"임시 비밀번호는 \"+msg.payload.pw+\" 입니다. 로그인 후 변경해 주세요.\";\nmsg.topic=\"임시 비밀번호 from 김동일\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":327,"wires":[["c11828cf.ec3958"]]},{"id":"7ab8f23b.98e3cc","type":"ui_ui_control","z":"1670a34e.fad20d","name":"","x":360,"y":387,"wires":[["bdc4ec73.1987e"]]},{"id":"3d03695a.7f2346","type":"function","z":"1670a34e.fad20d","name":"hide","func":"msg.payload={\"group\":{\"hide\":[\"member_비밀번호변경\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":387,"wires":[["7ab8f23b.98e3cc"]]},{"id":"a70d67ac.940ab8","type":"function","z":"1670a34e.fad20d","name":"show","func":"msg.payload={\"group\":{\"show\":[\"member_비밀번호변경\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":427,"wires":[["7ab8f23b.98e3cc"]]},{"id":"bdc4ec73.1987e","type":"switch","z":"1670a34e.fad20d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connect","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":387,"wires":[["6c5e34dc.0bc4bc"]]},{"id":"7a83acff.14d604","type":"link in","z":"1670a34e.fad20d","name":"","links":["812faa5f.49f958"],"x":115,"y":427,"wires":[["a70d67ac.940ab8"]]},{"id":"812faa5f.49f958","type":"link out","z":"1670a34e.fad20d","name":"","links":["7a83acff.14d604"],"x":935,"y":206,"wires":[]},{"id":"78762e3a.c4cc4","type":"link out","z":"1670a34e.fad20d","name":"","links":["d4515b80.1c2048"],"x":937,"y":119,"wires":[]},{"id":"d4515b80.1c2048","type":"link in","z":"1670a34e.fad20d","name":"","links":["78762e3a.c4cc4","b277a3af.0075e"],"x":113,"y":386,"wires":[["3d03695a.7f2346"]]},{"id":"95e1d81a.8eb6e8","type":"ui_button","z":"1670a34e.fad20d","name":"","group":"c8f3ffae.a5752","order":1,"width":0,"height":0,"passthru":false,"label":"pw 변경","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":587,"wires":[["82f7ebf4.1e4258"]]},{"id":"38357673.10ecfa","type":"ui_text_input","z":"1670a34e.fad20d","name":"","label":"PW(비밀번호)","tooltip":"","group":"c8f3ffae.a5752","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":180,"y":546,"wires":[["741bf2b4.832d9c"]]},{"id":"741bf2b4.832d9c","type":"function","z":"1670a34e.fad20d","name":"global","func":"global.set(\"pw_change\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":546,"wires":[[]]},{"id":"82f7ebf4.1e4258","type":"function","z":"1670a34e.fad20d","name":"insert one","func":"var email=global.get(\"email\")||\"\";\nvar pw= global.get(\"pw_change\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'email' : email}, {$set:{'pw':pw}} ];\nreturn newMsg;\n","outputs":1,"noerr":0,"x":320,"y":587,"wires":[["63781701.426398"]]},{"id":"63781701.426398","type":"mongodb2 in","z":"1670a34e.fad20d","service":"_ext_","configNode":"16165e91.4d8e01","name":"","collection":"","operation":"","x":470,"y":587,"wires":[[]]},{"id":"15d2ffa1.9803c","type":"comment","z":"1670a34e.fad20d","name":"비밀번호 변경","info":"","x":170,"y":499,"wires":[]},{"id":"b277a3af.0075e","type":"link out","z":"1670a34e.fad20d","name":"","links":["afc0c11d.1a85c","d4515b80.1c2048"],"x":715,"y":387,"wires":[]},{"id":"6c5e34dc.0bc4bc","type":"function","z":"1670a34e.fad20d","name":"","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":387,"wires":[["b277a3af.0075e"]]},{"id":"afc0c11d.1a85c","type":"link in","z":"1670a34e.fad20d","name":"","links":["b277a3af.0075e"],"x":55,"y":60,"wires":[["58c0b07d.b6d9e","f5adc119.d83a1"]]},{"id":"d56984e9.9fb838","type":"ui_button","z":"1670a34e.fad20d","name":"","group":"f58862b0.3d771","order":5,"width":0,"height":0,"passthru":false,"label":"Log Out","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":460,"wires":[["6c5e34dc.0bc4bc"]]},{"id":"f58862b0.3d771","type":"ui_group","z":"","name":"회원가입","tab":"a8b7c81c.10d688","order":1,"disp":true,"width":"6","collapse":false},{"id":"16165e91.4d8e01","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/db","name":"db","options":"","parallelism":""},{"id":"c8f3ffae.a5752","type":"ui_group","z":"","name":"비밀번호변경","tab":"a8b7c81c.10d688","order":2,"disp":true,"width":"6","collapse":false},{"id":"a8b7c81c.10d688","type":"ui_tab","z":"","name":"member","icon":"dashboard","order":1,"disabled":false,"hidden":false}]