5-27 구글 챗봇+Firebase+아마존크라우드+MongoDB에 의한 Sonoff 제어 (7)/node-red.txt
[{"id":"b9f72a36.9056d8","type":"debug","z":"90e68afe.1395a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":60,"wires":[]},{"id":"b4477a5c.2eab48","type":"firebase in","z":"90e68afe.1395a8","name":"","ref":"/data","dataAtStart":true,"admin":"6576a1d4.6f9ab","x":150,"y":60,"wires":[["b9f72a36.9056d8","5fc06329.8df36c"]]},{"id":"5fc06329.8df36c","type":"function","z":"90e68afe.1395a8","name":"findOneUpdate","func":"var newMsg = {};\nnewMsg.collection = 'power';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'name0' : msg.payload.name0,'name1' : msg.payload.name1}, {$set:{on:msg.payload.on}} ];\nnewMsg.projection = { 'name0' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["b6644716.26e068"]]},{"id":"b6644716.26e068","type":"mongodb2 in","z":"90e68afe.1395a8","service":"_ext_","configNode":"cebb9e09.1c1da","name":"local/power","collection":"","operation":"","x":450,"y":160,"wires":[["6f08e1e1.7ded2"]]},{"id":"71c55331.50428c","type":"mqtt out","z":"90e68afe.1395a8","name":"","topic":"/kdi/inTopic","qos":"0","retain":"","broker":"d2dee3fd.50916","x":670,"y":240,"wires":[]},{"id":"eebb8652.4727e8","type":"function","z":"90e68afe.1395a8","name":"","func":"var newMsg = {};\nnewMsg.payload=\"{\\\"mac\\\":\\\"\"+msg.payload.mac+\"\\\",\\\"on\\\":\"+msg.payload.on+\"}\";\n//newMsg.payload=msg.payload.value.mac;\nreturn newMsg;","outputs":1,"noerr":0,"x":480,"y":240,"wires":[["71c55331.50428c"]]},{"id":"6f08e1e1.7ded2","type":"function","z":"90e68afe.1395a8","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'power';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'mac' : msg.payload.value.mac};\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":160,"y":240,"wires":[["68676dd4.402dd4"]]},{"id":"68676dd4.402dd4","type":"mongodb2 in","z":"90e68afe.1395a8","service":"_ext_","configNode":"cebb9e09.1c1da","name":"local/power","collection":"","operation":"","x":330,"y":240,"wires":[["eebb8652.4727e8"]]},{"id":"14bab428.95bcbc","type":"ui_switch","z":"90e68afe.1395a8","name":"","label":"안방","tooltip":"","group":"e3d6c7ff.839148","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":150,"y":380,"wires":[["88992837.9e4b58"]]},{"id":"87b0a7f7.52d028","type":"ui_switch","z":"90e68afe.1395a8","name":"","label":"거실","tooltip":"","group":"e3d6c7ff.839148","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":150,"y":440,"wires":[["41df429e.abb68c"]]},{"id":"88992837.9e4b58","type":"function","z":"90e68afe.1395a8","name":"","func":"var newMsg={\n    name0:\"일산\",\n    name1:\"안방\",\n    on:0\n};\nnewMsg.on=msg.payload;\nmsg.payload=newMsg;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":380,"wires":[["5c9cad25.260444"]]},{"id":"41df429e.abb68c","type":"function","z":"90e68afe.1395a8","name":"","func":"var newMsg={\n    name0:\"일산\",\n    name1:\"거실\",\n    on:0\n};\nnewMsg.on=msg.payload;\nmsg.payload=newMsg;\n//newMsg.paylod.name0=\"일산\";\n//newMsg.name1=\"안방\";\n//newMsg.on=msg.paylod;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":440,"wires":[["5c9cad25.260444"]]},{"id":"8f02d88c.faaa48","type":"link in","z":"90e68afe.1395a8","name":"","links":["5c9cad25.260444"],"x":175,"y":120,"wires":[["5fc06329.8df36c"]]},{"id":"5c9cad25.260444","type":"link out","z":"90e68afe.1395a8","name":"","links":["8f02d88c.faaa48"],"x":385,"y":400,"wires":[]},{"id":"6576a1d4.6f9ab","type":"firebase admin","z":"","name":"MyHome01"},{"id":"cebb9e09.1c1da","type":"mongodb2","z":"90e68afe.1395a8","uri":"mongodb://localhost:27017/admin","name":"local","options":"","parallelism":""},{"id":"d2dee3fd.50916","type":"mqtt-broker","z":"","name":"","broker":"a8i4lgiqa43pw-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"d10e47c0.3be8a8","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e3d6c7ff.839148","type":"ui_group","z":"","name":"일산","tab":"a8fc4734.a0c058","order":1,"disp":true,"width":"6","collapse":false},{"id":"d10e47c0.3be8a8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"a8fc4734.a0c058","type":"ui_tab","z":"","name":"전등제어","icon":"dashboard","order":1,"disabled":false,"hidden":false}]