5-29-2 구글 챗봇 Brouse Carousel Card 만들기/node red program.txt
[{"id":"aa3a52ec.ad4df","type":"http in","z":"5cba910c.6eb5d","name":"","url":"/led","method":"get","upload":false,"swaggerDoc":"","x":120,"y":140,"wires":[["af7548e2.62f3e8","1284cfd4.a773f","fb8d8dc7.a9122"]]},{"id":"af7548e2.62f3e8","type":"debug","z":"5cba910c.6eb5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":95,"wires":[]},{"id":"1284cfd4.a773f","type":"template","z":"5cba910c.6eb5d","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<HTML>\n<HEAD>\n<script>window.opener = window.location.href; self.close();</script>\n</HEAD>\n</HTML>","x":269,"y":139,"wires":[["9252735a.ef50f"]]},{"id":"9252735a.ef50f","type":"http response","z":"5cba910c.6eb5d","name":"","x":390,"y":139,"wires":[]},{"id":"635dfd0d.0582f4","type":"ui_led","z":"5cba910c.6eb5d","group":"6cccbb15.d65e74","order":0,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"1","valueType":"str"},{"color":"green","value":"0","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":398,"y":200,"wires":[]},{"id":"fb8d8dc7.a9122","type":"function","z":"5cba910c.6eb5d","name":"","func":"msg.payload=msg.payload.on;\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":200,"wires":[["635dfd0d.0582f4"]]},{"id":"6cccbb15.d65e74","type":"ui_group","z":"","name":"일산","tab":"d8861a7e.b546c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8861a7e.b546c8","type":"ui_tab","z":"","name":"전등제어","icon":"dashboard","order":1,"disabled":false,"hidden":false}]