5-25 구글 챗봇+Firebase+아마존크라우드+MongoDB에 의한 Sonoff 제어 (5)/node-red.txt
[{"id":"b1f31b89.8d6a78","type":"firebase in","z":"ed76e566.e78b08","name":"MyHome01","ref":"/data","dataAtStart":true,"admin":"6576a1d4.6f9ab","x":170,"y":140,"wires":[["29d3771a.5c8058"]]},{"id":"dceeb167.703b1","type":"mongodb2 in","z":"ed76e566.e78b08","service":"_ext_","configNode":"22afbf29.e6c45","name":"dbTest Data","collection":"","operation":"","x":530,"y":140,"wires":[[]]},{"id":"29d3771a.5c8058","type":"function","z":"ed76e566.e78b08","name":"findOneUpdate","func":"var newMsg = {};\nnewMsg.collection = 'lights';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'name' : msg.payload.name}, {$set:{ 'on':msg.payload.on}} ];\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["dceeb167.703b1"]]},{"id":"1274f205.3c1e3e","type":"firebase out","z":"ed76e566.e78b08","name":"MyHome01","ref":"/data","operation":"set","admin":"6576a1d4.6f9ab","x":590,"y":260,"wires":[[]]},{"id":"6ca612f7.6f138c","type":"function","z":"ed76e566.e78b08","name":"","func":"var name=global.get(\"name\")||\"\";\nvar on=global.get(\"on\")||0;\nmsg.payload={name:name,on:on};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["1274f205.3c1e3e","dceeb167.703b1"]]},{"id":"e5ea4d8f.6adc7","type":"ui_switch","z":"ed76e566.e78b08","name":"","label":"switch","tooltip":"","group":"531eb98b.bf6928","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":150,"y":280,"wires":[["bbf2ebf0.708a18"]]},{"id":"8a55a51d.a26488","type":"ui_dropdown","z":"ed76e566.e78b08","name":"","label":"name","tooltip":"","place":"Select option","group":"531eb98b.bf6928","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"안방","value":"안방","type":"str"},{"label":"거실","value":"거실","type":"str"}],"payload":"","topic":"","x":150,"y":220,"wires":[["da6aa4aa.ba7908"]]},{"id":"da6aa4aa.ba7908","type":"function","z":"ed76e566.e78b08","name":"","func":"global.set(\"name\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["6ca612f7.6f138c"]]},{"id":"bbf2ebf0.708a18","type":"function","z":"ed76e566.e78b08","name":"","func":"global.set(\"on\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["6ca612f7.6f138c"]]},{"id":"6576a1d4.6f9ab","type":"firebase admin","z":"","name":"MyHome01"},{"id":"22afbf29.e6c45","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":""},{"id":"531eb98b.bf6928","type":"ui_group","z":"","name":"전등제어","tab":"89aaf475.47bff8","order":1,"disp":true,"width":"6","collapse":false},{"id":"89aaf475.47bff8","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]