5-20-2 Google Chatbot+AWS+X-Ring/node-red program.txt
[{"id":"45eed4d6.2649fc","type":"mqtt out","z":"e0938457.9ab678","name":"","topic":"inCandleAWS","qos":"0","retain":"","broker":"a97d76ef.aa80b8","x":580,"y":220,"wires":[]},{"id":"8d2b44cd.e85a38","type":"function","z":"e0938457.9ab678","name":"","func":"newMsg = {};\nvar red=parseInt(\"0x\"+msg.payload.substring(0,2));\nvar green=parseInt(\"0x\"+msg.payload.substring(2,4));\nvar blue=parseInt(\"0x\"+msg.payload.substring(4,6));\nglobal.set(\"red\",red);\nglobal.set(\"green\",green);\nglobal.set(\"blue\",blue);\nnewMsg.payload = red;\nreturn newMsg;","outputs":1,"noerr":0,"x":250,"y":280,"wires":[["2568b4d0.216d3c"]]},{"id":"806d60b7.3e381","type":"ui_colour_picker","z":"e0938457.9ab678","name":"","label":"","group":"8f959920.701cd8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":110,"y":280,"wires":[["8d2b44cd.e85a38"]]},{"id":"7f77f8a.9a1d308","type":"ui_slider","z":"e0938457.9ab678","name":"","label":"밝기","tooltip":"","group":"8f959920.701cd8","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":90,"y":220,"wires":[["77dc4320.e26b1c"]]},{"id":"77dc4320.e26b1c","type":"function","z":"e0938457.9ab678","name":"","func":"global.set(\"bright\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":220,"wires":[["2568b4d0.216d3c"]]},{"id":"167dbcdc.af5003","type":"debug","z":"e0938457.9ab678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":280,"wires":[]},{"id":"2568b4d0.216d3c","type":"function","z":"e0938457.9ab678","name":"","func":"var bright=global.get(\"bright\")||0;\nvar red=global.get(\"red\")||0;\nvar green=global.get(\"green\")||0;\nvar blue=global.get(\"blue\")||0;\nmsg.payload={chip:\"b66de8\",Bright:bright,R:red,G:green,B:blue};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["167dbcdc.af5003","45eed4d6.2649fc"]]},{"id":"e477aee5.c897c","type":"ui_button","z":"e0938457.9ab678","name":"","group":"8f959920.701cd8","order":2,"width":0,"height":0,"passthru":false,"label":"흰색","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":340,"wires":[["44d62a39.7c0474"]]},{"id":"44d62a39.7c0474","type":"function","z":"e0938457.9ab678","name":"","func":"global.set(\"red\",255);\nglobal.set(\"green\",255);\nglobal.set(\"blue\",255);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":340,"wires":[["2568b4d0.216d3c"]]},{"id":"a97d76ef.aa80b8","type":"mqtt-broker","z":"","name":"","broker":"a2e3lvmkmo084b-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"cf96e6e7.8df1c8","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8f959920.701cd8","type":"ui_group","name":"Group 1","tab":"f8ef04c1.eadea8","order":1,"disp":true,"width":6},{"id":"cf96e6e7.8df1c8","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"5fe37e4ccb-certificate.pem.crt","keyname":"5fe37e4ccb-private.pem.key","caname":"mqttTestCA01.pem","servername":"","verifyservercert":true},{"id":"f8ef04c1.eadea8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]