5-28 구글 챗봇 Custom Payload, Web Demo, Dialogflow Messenger/5-26 구글 챗봇+Firebase+아마존크라우드+MongoDB에 의한 Sonoff 제어 (6)/node-red.txt
[{"id":"69209ba.339bb64","type":"firebase in","z":"e07138c.30888c8","name":"","ref":"/data","dataAtStart":true,"admin":"408b53a9.c6855c","x":90,"y":100,"wires":[["d598403c.53b74"]]},{"id":"d598403c.53b74","type":"function","z":"e07138c.30888c8","name":"findOneUpdate","func":"var newMsg = {};\nnewMsg.collection = 'power';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'name0' : msg.payload.name0,'name1' : msg.payload.name1}, {$set:{on:msg.payload.on}} ];\nnewMsg.projection = { 'name0' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":100,"wires":[["ae30eca7.929cf"]]},{"id":"ae30eca7.929cf","type":"mongodb2 in","z":"e07138c.30888c8","service":"_ext_","configNode":"16c2c6db.bdec79","name":"local/power","collection":"","operation":"","x":410,"y":100,"wires":[["de1ace6d.6f4"]]},{"id":"c35fa2c8.0c47a","type":"mqtt out","z":"e07138c.30888c8","name":"","topic":"/kdi/inTopic","qos":"0","retain":"","broker":"9a737a89.f83298","x":630,"y":180,"wires":[]},{"id":"397595ec.1a2a1a","type":"function","z":"e07138c.30888c8","name":"","func":"var newMsg = {};\nnewMsg.payload=\"{\\\"mac\\\":\\\"\"+msg.payload.mac+\"\\\",\\\"on\\\":\"+msg.payload.on+\"}\";\n//newMsg.payload=msg.payload.value.mac;\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":180,"wires":[["c35fa2c8.0c47a"]]},{"id":"de1ace6d.6f4","type":"function","z":"e07138c.30888c8","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'power';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'mac' : msg.payload.value.mac};\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":180,"wires":[["5d0cb340.6d192c"]]},{"id":"5d0cb340.6d192c","type":"mongodb2 in","z":"e07138c.30888c8","service":"_ext_","configNode":"16c2c6db.bdec79","name":"local/power","collection":"","operation":"","x":290,"y":180,"wires":[["397595ec.1a2a1a"]]},{"id":"55fe7ddf.be6004","type":"ui_switch","z":"e07138c.30888c8","name":"","label":"안방","tooltip":"","group":"34614507.5cf7fa","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":320,"wires":[["39a8a6a7.5defca"]]},{"id":"3fd5e73.999dc18","type":"ui_switch","z":"e07138c.30888c8","name":"","label":"거실","tooltip":"","group":"34614507.5cf7fa","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":380,"wires":[["78a98324.5a481c"]]},{"id":"39a8a6a7.5defca","type":"function","z":"e07138c.30888c8","name":"","func":"var newMsg={\n    name0:\"일산\",\n    name1:\"안방\",\n    on:0\n};\nnewMsg.on=msg.payload;\nmsg.payload=newMsg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":320,"wires":[["bf30088f.139b08"]]},{"id":"78a98324.5a481c","type":"function","z":"e07138c.30888c8","name":"","func":"var newMsg={\n    name0:\"일산\",\n    name1:\"거실\",\n    on:0\n};\nnewMsg.on=msg.payload;\nmsg.payload=newMsg;\n//newMsg.paylod.name0=\"일산\";\n//newMsg.name1=\"안방\";\n//newMsg.on=msg.paylod;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":380,"wires":[["bf30088f.139b08"]]},{"id":"5487863f.b08298","type":"link in","z":"e07138c.30888c8","name":"","links":["bf30088f.139b08"],"x":135,"y":60,"wires":[["d598403c.53b74"]]},{"id":"bf30088f.139b08","type":"link out","z":"e07138c.30888c8","name":"","links":["5487863f.b08298"],"x":345,"y":340,"wires":[]},{"id":"408b53a9.c6855c","type":"firebase admin","z":"","name":"Myhome01"},{"id":"16c2c6db.bdec79","type":"mongodb2","z":"e07138c.30888c8","uri":"mongodb://localhost:27017/local","name":"local","options":"","parallelism":""},{"id":"9a737a89.f83298","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","tls":"ff2cdf6a.e3526","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"34614507.5cf7fa","type":"ui_group","z":"","name":"일산","tab":"b6f59421.969eb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ff2cdf6a.e3526","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"b6f59421.969eb8","type":"ui_tab","z":"","name":"전등제어","icon":"dashboard","order":1,"disabled":false,"hidden":false}]