5-19-7 Google Chatbot+Firebase+MQTT+mongoDB/node-red.txt
[{"id":"6fef49fc.468128","type":"mqtt in","z":"4d416351.1f9b9c","name":"","topic":"topic_kdi","qos":"0","datatype":"auto","broker":"ce4821c0.ac433","x":120,"y":80,"wires":[["f84156ec.7d3558"]]},{"id":"4c2199e8.0377a8","type":"function","z":"4d416351.1f9b9c","name":"findOneUpdate","func":"var newMsg={};\nnewMsg.collection = 'test';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'name' : msg.payload.name}, {$set:{'on':msg.payload.on }} ];\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":440,"y":80,"wires":[["416b09a1.f61698"]]},{"id":"416b09a1.f61698","type":"mongodb2 in","z":"4d416351.1f9b9c","service":"_ext_","configNode":"d41555b2.eb7128","name":"dbTest Data","collection":"","operation":"","x":610,"y":80,"wires":[[]]},{"id":"f84156ec.7d3558","type":"json","z":"4d416351.1f9b9c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":80,"wires":[["4c2199e8.0377a8"]]},{"id":"ce4821c0.ac433","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d41555b2.eb7128","type":"mongodb2","z":"4d416351.1f9b9c","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":""}]