5-36 google firebase + realtime + html/node red program.txt
[{"id":"fcc32509.66a908","type":"http in","z":"ada7e886.fe00d8","name":"","url":"/a","method":"get","upload":false,"swaggerDoc":"","x":70,"y":80,"wires":[["dc554b73.fb06f8"]]},{"id":"51ae7ad3.220e24","type":"http response","z":"ada7e886.fe00d8","name":"","statusCode":"","headers":{},"x":380,"y":80,"wires":[]},{"id":"dc554b73.fb06f8","type":"template","z":"ada7e886.fe00d8","name":"login html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n</head>\n<body>\n<h2>김동일</h2>\n<h2>4차산업혁명의 시작</h2>\n<h2>센서와 엑튜에이터를 크라우드컴퓨터 빅데이터에 연결</h2>\n\n   <main>\n        <form>\n            <label for=\"userid\">User ID</label><br>\n            <input type=\"text\" name=\"userId\" id=\"userId\"><br>\n            <button id=\"addBtn\">Add</button>\n            <button id=\"updateBtn\">Update</button>\n            <button id=\"removeBtn\">Remove</button>\n        </form>\n    </main>\n\n    <h1>counter</h1>\n    <!-- <script src=\"script.js\"></script> -->\n<!-- The core Firebase JS SDK is always required and must be listed first -->\n<script src=\"https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js\"></script>\n<script src=\"https://www.gstatic.com/firebasejs/8.5.0/firebase-database.js\"></script>\n\n<!-- TODO: Add SDKs for Firebase products that you want to use\n     https://firebase.google.com/docs/web/setup#available-libraries -->\n\n<script>\n  // Your web app's Firebase configuration\n  var firebaseConfig = {\n    apiKey: \"AIzaSyBR-F8B1UJu5RoY56l1qYYSTLQPL2oY1LA\",\n    authDomain: \"plang-1c3a2.firebaseapp.com\",\n    databaseURL: \"https://plang-1c3a2-default-rtdb.firebaseio.com\",\n    projectId: \"plang-1c3a2\",\n    storageBucket: \"plang-1c3a2.appspot.com\",\n    messagingSenderId: \"977608532300\",\n    appId: \"1:977608532300:web:59c89281dce39952ac2fe9\"\n  };\n  // Initialize Firebase\n  firebase.initializeApp(firebaseConfig);\nconst userId = document.getElementById('userId');\nconst database = firebase.database();\nconst rootRef = database.ref('users');\n\naddBtn.addEventListener('click', (e) => {\n    e.preventDefault();\n    database.ref('/users').set({\n        name: userId.value\n    });\n    console.log('value added');\n});\n\nupdateBtn.addEventListener('click', (e) => {\n    e.preventDefault();\n    database.ref('/users').update({\n        name: userId.value\n    });\n    console.log('value update');\n});\n\nremoveBtn.addEventListener('click', (e) => {\n    e.preventDefault();\n    database.ref('/users').remove();\n    console.log('value remove');\n});\n\n//value  child_changed child_added \nrootRef.on('value',snapshot => {\n    document.querySelector('h1').innerText = userId.value;\n    console.log('value changed');\n});\n\nrootRef.orderByKey().on('value', snpashot => {\n    console.log(snpashot.val());\n    document.querySelector('h1').innerText = snpashot.val().name;\n});\n\n\n</script>\n\n</body>\n</html>","output":"str","x":230,"y":80,"wires":[["51ae7ad3.220e24"]]}]